// Compass for default mixins and many more
@import "compass";

// Partials
@import "partials/flexbox";

.enquiry-settings-parent {
    @include display-flex;
    @include flex-direction(row);
}

.enquiry-settings {
    display: inline-block;
    width: 33%;
    float: left;
}

/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {

}

/* Tablets */
@media only screen and (max-width: 900px) {

}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {

}