.ie-10 {
    .fill-screen {
        height: 100px;
    }

    #products .fill-screen {
        height: auto;
    }
}

/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {

}

/* Tablets */
@media only screen and (max-width: 900px) {

}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {

}