/*
Theme Name:   	Storefront child
Theme URI:    	http://www.woothemes.com/storefront
Author:       	Zooma
Author URI:		http://www.woothemes.com
Description:  	Smile now you can
Template:       storefront
Version:      	1.0.0
Text Domain:  	storefront
*/



/* ------------------------------------------------------------------ */
/* Override styles of parent theme
/* ------------------------------------------------------------------ */

/* Not necessary for homepage */
.home #page .site-content {
    margin-top:0px;
}

#page .col-full {
    width:100%;
    max-width:100%;
    margin:0;
}

#page .content-area {
    width:100%;
    float: none;
}

#page .content-area #main {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    /*max-width: 1020px;*/
    max-width: 1170px;
    width: 92%;
}


/* ------------------------------------------------------------------ */
/* Woocommerce general styles
/* ------------------------------------------------------------------ */

#page .hentry .entry-header,
#page .hentry .entry-header h1 {
    border:none;
    margin-bottom: 0;
}
#page .hentry {
    border-bottom: 0;
}
#page nav.woocommerce-breadcrumb {
    /* NOTE: do not use display:none here. It wont work */
    visibility: hidden;
    padding:0;
    margin:0;
    display: none;
}

#page .woocommerce-message a {
    display: none;
}

#page .woocommerce .woocommerce-error {
    background-color: #faa61c;
}

#page .woocommerce .woocommerce-info,
#page .woocommerce .woocommerce-message {
    display: none;
    background-color: #75b343;
    border:none;
}

/* screenwidth less than 480px
--------------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
    #page .hentry .entry-header h1 {
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 10px;
    }
    #page .hentry .entry-content {
        font-size: 17px;
        line-height: 30px;
    }
}


/* ------------------------------------------------------------------ */
/* Woocommerce Cart
/* ------------------------------------------------------------------ */

table.cart thead {
    display: none;
}
table.shop_table .cart_item {
    border-top: 1px solid #999;
}

table.shop_table .cart_item .product-price span.amount:before,
table.shop_table .cart_item .product-subtotal span.amount:before,
.cart-collaterals .cart_totals .cart-subtotal span.amount:before,
.cart-collaterals .cart_totals .order-total span.amount:before {
    content: "";
}
table.shop_table .cart_item .product-price .amount,
table.shop_table .cart_item .product-subtotal .amount {
    font-family: Tahoma, Arial;
    font-size: 20px;
}
.cart-collaterals .cart_totals .cart-subtotal span.amount {
    font-family: Tahoma, Arial;
    font-size: 25px;
    margin:0;
}
.cart-collaterals .cart_totals .order-total span.amount {
    font-family: Tahoma, Arial;
    font-size: 30px;
    margin:0;
}

.woocommerce ul#shipping_method label {
    display: inline;
    margin-left: 10px;
}

#page .woocommerce table.cart td.actions input {
    background: #bbb;
}

#page .woocommerce .cart a.remove::before {
    color:#333;
}

.woocommerce-cart .entry-content .woocommerce a.continue-shopping {
    float: left;
    font-family: 'UniversR';
    font-size: 17px;
    line-height: 20px;
    margin:0 0 20px 0px;
}
.woocommerce-cart .entry-content .woocommerce a.continue-shopping i {
    margin-right: 5px;
    line-height: 23px;
    vertical-align: text-top;
}



/* screenwidth less than 480px
--------------------------------------------------------------------- */
@media only screen and (max-width: 480px) {

    table.cart td,
    table.cart th {
        padding:0.53em 0.1em 0 0 !important;
        font-size: 12px;
    }
    table.shop_table .cart_item .product-price .amount,
    table.shop_table .cart_item .product-subtotal .amount {
        font-size: 16px;
    }
    .cart-collaterals .cart_totals .cart-subtotal span.amount {
        font-size: 20px;
    }
    .cart-collaterals .cart_totals .order-total span.amount {
        font-size: 25px;
    }
}



/* ------------------------------------------------------------------ */
/* Checkout form - Woocommerce poor guys swiss knife
/* ------------------------------------------------------------------ */

#customer_details .clear::after {
    clear: none;
}

@media screen and (min-width: 768px) {
    .col2-set .form-row-first {
        width: 47% !important;
        margin-right: 0 !important;
    }
    .col2-set .form-row-last {
        width: 48% !important;
    }
    .woocommerce ul.order_details li {
        width:25%;
    }
}

#customer_details abbr[title], dfn[title] {
    cursor: default;
}

#customer_details .form-row label {
    height:20px;
    padding-left: 5px;
}

.woocommerce address,
.woocommerce .addresses address {
    padding-left:1.387em;
    font-style: normal;
}

.woocommerce .col2-set .col-1, .col2-set .col-2 {
    margin-bottom: 1.618em;
}

.woocommerce table.order_details,
.woocommerce table.customer_details {
    margin-bottom:30px;
}

.woocommerce table.customer_details tr {
    border-bottom:1px solid #eee;
}
.woocommerce table.customer_details tr:last-child {
    border-bottom:0;
}

.woocommerce table.customer_details.shop_table_responsive tbody th,
.woocommerce table.customer_details.shop_table_responsive thead {
    display: table-cell;
}


.woocommerce table.customer_details.shop_table_responsive tr td::before {
    content: '';
}

.woocommerce table.customer_details.shop_table_responsive tr td {
    display: table-cell;
}

.woocommerce table.customer_details td,
.woocommerce table.customer_details th,
.woocommerce table.order_details td,
.woocommerce table.order_details th {
    width:40%;
}

@media only screen and (min-width : 300px) and (max-width: 1024px) {

    #customer_details input,
    #customer_details textarea,
    #customer_details select {
        min-width:170px;
    }
}

.woocommerce .shop_table .product-name a {
    color:#75b343;
    font-size: 18px;
    font-weight: bold;
}
.woocommerce .shop_table .product-name a:hover {
    text-decoration: underline;
}
@media only screen and (max-width : 768px) {
    .woocommerce .shop_table .product-name a {
        font-size: 16px;
    }
}

.woocommerce table .billing_data {
    display: none;
}

.woocommerce table .product-subtotal,
.woocommerce table tr.order-total {
    color:#333;
}

.woocommerce table td.product-total .amount:before,
.woocommerce table tr.cart-subtotal .amount:before,
.woocommerce table tr.order-total .amount:before {
    content: "";
}


.woocommerce table td.product-total .amount,
.woocommerce table tr.cart-subtotal .amount {
    font-size:20px;
    font-family: Tahoma, Arial;
    font-weight: normal;
}
.woocommerce table tr.order-total .amount {
    color:#333;
    font-family: Tahoma, Arial;
    font-size:30px;
}


#customer_details .woocommerce-shipping-fields #ship-to-different-address label {
    display: inline;
    margin-right: 10px;
    font-family: 'UniversB';
    font-size: 20px;
}
#customer_details .woocommerce-shipping-fields #ship-to-different-address input[type="checkbox"] {
    width:20px;
    height:20px;
}

.woocommerce #payment .payment_methods li label {
    display: inline;
}

#page .woocommerce #order_review_heading,
#page .woocommerce #order_review {
    border-color: #999;
}

.woocommerce .wc-proceed-to-checkout a:hover {
    text-decoration: none;
}



/* ------------------------------------------------------------------ */
/* Order received
/* ------------------------------------------------------------------ */

.woocommerce .order_details .total .amount:before,
.woocommerce .shop_table.order_details .amount:before {
    content:"";
}

.woocommerce .order_details .total .amount,
.woocommerce .shop_table.order_details .amount {
    color:#333;
    font-family: Tahoma, Arial;
    font-size:20px;
    margin:0;
}




/* ------------------------------------------------------------------ */
/* Form styles
/* ------------------------------------------------------------------ */
button.cta, button.alt, input.cta[type="button"], input.alt[type="button"], input.cta[type="reset"], input.alt[type="reset"], input.cta[type="submit"], input.alt[type="submit"], .button.cta, .button.alt, .added_to_cart.cta, .added_to_cart.alt {
    background-color: #75b343;
    border: 0px !important;
    outline:0;
}
button.cta:hover, button.alt:hover, input[type="button"].cta:hover, input[type="button"].alt:hover, input[type="reset"].cta:hover, input[type="reset"].alt:hover, input[type="submit"].cta:hover, input[type="submit"].alt:hover, .button.cta:hover, .button.alt:hover, .added_to_cart.cta:hover, .added_to_cart.alt:hover {
    opacity: 1.0;
    background-color: #64af27;
    border: 0px !important;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.button:focus,
.added_to_cart:focus {
    outline: 0;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .button:hover, .added_to_cart:hover {
    opacity: 1.0;
    color: #fff;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], textarea, select, .input-text {
    background-color: #f7f7f7;
    color:#000;
    font-size: 16px;
    font-family: 'UniversR';
    box-shadow: none;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, textarea:focus {
    background-color: #eee;
    color:#333;
}
