article.fill-screen.no-image-banner {
    padding: 20px 0;
}

article .section-title h2 {
    font-size: 50px;
    line-height: 60px;
}

article .section-title .subtitle {
    color: #8a8a95;
    font-size: 14px;
}

article b, article strong {
    font-family: $default-font-bold;
}

article .side-extra-outer {

    padding: 20px 0 10px 0;

    .title,
    .title_footer {
        padding: 0px 0 10px 20px;
        text-transform: uppercase;
        font-size: 14px;
        font-family: $default-font;
        margin-bottom: 5px;
    }

    .title_footer {
        font-size: 12px;
        padding: 0px 0 10px 0px;
    }

    .label {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 20px;
        font-family: $default-font-light;
    }

    .value {
        margin-bottom: 10px;
    }

}


/* Lijstje aan rechterkant */
article .side-extra-outer.list {
    padding:20px;
    background: $light-gray;

    .item {
        background : #fff;
        margin-bottom: 10px;
        padding:20px 20px 10px 0;
        float: left;
        width:100%;

        .title {
            margin-bottom: 20px;
            display: block;
            font-size: 17px;
            font-family: $default-font-light;
            line-height: 22px;
            color: $default-text-color;
            text-transform: none;
        }

        .subtitle {
            color: #666;
            font-size: 13px;
        }
    }

    .item:hover {
        background: $primary-color;
        cursor: pointer;
    }

    .item:hover a,
    .item:hover .subtitle {
        color: #FFF;
        text-decoration: none;
    }

}

article .apply-button {
    margin-top: 10px;

    a {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-family: $default-font;
        font-size: 15px;
        margin-bottom: 5px;
        padding-left: 0;
        padding-right: 0;
    }

    p {
        text-align: center;
        font-size: 14px;
    }
}

/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {

}

/* Tablets */
@media only screen and (max-width: 900px) {

}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

    article.fill-screen {
        padding: 10px 0;
    }
    article .section-title h2 {
        font-size: 28px;
        line-height: 38px;
    }

    article .nine .apply-button {
        display: none;
    }

    article .side-extra-outer {
        margin: 0 20px;
    }

    article .columns.collapsed {
        padding: 0 20px;
    }

    article .side-extra-outer.list .item {
        float: none;
    }


}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {

}