/* ------------------------------------------------------------------ */
/* List in blocks
/* ------------------------------------------------------------------ */
.block-list {
    width: 100%;
    @include display-flex;
    @include flex-wrap(wrap);

    .container {
        @include display-flex;
        margin-bottom: 10px;
        list-style: none;

        .inner {
            @include flex(1);
            position: relative;
            margin: 0 10px 0 0;
            background: $light-gray;
            cursor: pointer;
            min-height: 100px;
            text-align: center;
            padding: 40px;
            height: 100%;

            h3 {
                margin: 5px 0 5px 0;
                line-height: 25px;
                color: $default-text-color;
                min-height: 35px;
                font-family: $default-font-light;
                font-size: 24px;
            }

            .subtitle {
                font-size: 14px;
                line-height: 20px;
                padding: 0 10%;
                margin-bottom: 10px;
            }

            .link {
                font-size: 14px;
                padding-top: 15px;
            }
        }

        .inner:hover {
            background: $gray-hover;
        }
    }
}

.ltgray .block-list .container .inner {
    background: white;
}

/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {

}

/* Tablets */
@media only screen and (max-width: 900px) {

}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

    .block-list {
        display: block;

        .container .inner {
            padding: 20px 0;
        }
    }
}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {

}