#business {
    background-color: #f7f7f7;
    padding: 50px 0;

    &.extra-margin {
        margin-top: 50px;
    }
}

#business-how-can-we-help-you {
    padding: 50px 0;

    .business-links {
        a {
            width: 100%;

            &:hover, &:focus, &:visited, &:active {
                text-decoration: none;
            }
        }
    }
}

#business-sub {
    background-color: #f7f7f7;
    padding: 50px 0;

    &.extra-margin {
        margin-top: 50px;
    }
}

#business-sub-how-can-we-help-you {
    padding: 50px 0;

    .business-sub-links {
        a {
            width: 100%;

            &:hover, &:focus, &:visited, &:active {
                text-decoration: none;
            }
        }
    }
}

/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {

}

/* Tablets */
@media only screen and (max-width: 900px) {

}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {

}