// Default

.careers-list {
    list-style: none;
    margin-top: 30px;
}

.careers-list li {
    border-bottom: 1px solid #f0f0f0;
}

.careers-list-title,
.careers-list-container {
    margin-bottom: 0;
}

.careers-list-container:hover {
    background: $primary-color;
    cursor: pointer;
}

.careers-list-container > a:hover div span,
.careers-list-container > a:active div span,
.careers-list-container > a:focus div span {
    text-decoration: none;
    color: #FFF;
}

.careers-list-title {
    color: $default-text-color;
    border-bottom: 0;
    font-size: 22px;
}

.careers-list-container span {
    color: $default-text-color;
    font-family: $default-font-light;
    font-size: 16px;
}

.careers-list-column {
    height: 100%;
    padding: 10px;
}

.careers-list-title .careers-list-column {
    font-family: $default-font;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {

}

/* Tablets */
@media only screen and (max-width: 900px) {

}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

    .careers-list-title {
        display: none;
    }

    .careers-list-container {
        margin: 10px 0;
        padding: 10px;
        background: $gray-hover;
    }

    .careers-list-column {
        padding: 0;
    }

    .careers-list-column:first-of-type span {
        font-family: $default-font-bold;
    }
}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {

}