#career-search {

    margin: 0 0 20px 0;

    div {
        width: 30%;
        padding-right: 5px;
        float: left;
    }

    div.submit-container {
        width: 10%;
        float: left;

        button {
            width: 100%;
            height: 50px;
            text-align: center;
            margin:0;
            padding:0;

            .button-txt {
                display: none;
            }
        }
    }

    div input,
    div select {
        width: 100%;
        height: 50px;
        border: 1px solid #d9d9d9;
        padding: 14px 10px 10px 15px;
        font-family: $default-font-light;
        @include border-radius(0px);
        @include appearance(none);
    }

    div select::-ms-expand{
        display: none;  /* IE11 fix */
    }

    div select {
        background: $light-gray url(../images/icons/dropdown-arrow-black2.jpg) no-repeat right 3px center;
        background-size: 40px;

        option {
            font-family: $default-font-light;
            font-size: 16px;
        }
    }

    div input[type="submit"] {

    }
}

.mobile-search-jobs {
    display: none;
}

.career-search-banner {
    background: $light-gray;
    width: 80%;
    height:130px;
    padding:30px 0;
    margin: 40px 0 0 10%;
    text-align: center;
    position: relative;
    border: 2px solid $light-gray;
    @include border-radius(2px);

    h3 {
        color: $default-text-color;
        text-transform: uppercase;
        width:160px;
        position: absolute;
        bottom: 20px;
        left: 10%;
        font-family: $default-font-light;
    }

    a {
        text-transform: uppercase;
        font-size: 14px;
        position: absolute;
        bottom: 20px;
        right: 10%;
        padding: 10px 50px;
    }
}

.no-search-results {
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    text-align: center;
    margin:80px 0;
}




/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {

}

/* Tablets */
@media only screen and (max-width: 900px) {

}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

    .big-title {
        padding:20px 0;
    }

    #career-search div {
        width:100%;
        float:none;
    }

    #career-search {
        display: none;

        div.submit-container {
            float: none;
            width: 100%;

            button {
                @include border-radius(2px);

                .button-txt {
                    display: block;
                    text-transform: uppercase;
                    font-family: $default-font;
                    font-size: 15px;
                }

                .icon-search {
                    display: none;
                }
            }
        }
    }

    .mobile-search-jobs {
        text-transform: uppercase;
        text-align: center;
        font-family: $default-font;
        font-size: 15px;
        padding:10px 0;
        display: block;
        width:80%;
        margin-left:10%;
        margin-bottom: 10%;
        @include border-radius(2px);
    }

    .mobile-search-jobs:hover {
        text-decoration: none;
        background: $default-text-color;
    }

    .career-search-banner {
        padding: 10px 0;

        h3 {
            position: static;
            width:100%;
            font-size: 20px;
            margin-top:15px;
        }

        a {
            position: static;
        }
    }

    .no-search-results {
        font-size: 16px;
        line-height: 24px;
        padding:0 50px;
    }
}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {

}