.select2-container {

    &.select2-dropdown-open {
        border: 1px solid #eee;
        border-bottom: none;
    }

    .select2-choice {
        padding: 9px 12px;
        border: none;
        background-color: #f7f7f7;
        border-radius: 0;
        font-size: 16px;

        span {
            font-family: $default-font;
        }
    }
}

.select2-drop-active {
    border: 1px solid #eee;
    border-top: none;
}

.select2-drop {

    .select2-search {
        padding: 4px;
        background-color: #f7f7f7;

        input[type="text"] {
            background-color: white;
        }
    }
}

#customer_details .birthday-picker select {
    min-width: 0;
    display: inline-block;

    &.birth-day {
        width: 25%;
        margin-right: 2%;
    }

    &.birth-month {
        width: 41%;
    }

    &.birth-year {
        width: 30%;
        margin-left: 2%;
    }
}

/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {

    //.birthday-picker select {
    //    min-width: 0;
    //}
}

/* Tablets */
@media only screen and (max-width: 900px) {

}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {

}