/* ------------------------------------------------------------------ */
/* Coverage map
/* ------------------------------------------------------------------ */

.empty {
    bottom:0px;
    left:100px;
    width: 100px;
    height: 100px;
    display: block;
    background: #ff0000 !important;

}

#coverage-map {
    position:relative;
    margin:0;
    width:100%;
    height:100%;

    align-items: flex-start;


    #map {
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        width:100%;
        height:100%;
        z-index: 10;
    }


    #form-container.row {
        max-width: 100%;
    }
    #form-container.hidden {
        display: none;
    }
    #form-container {
        background: rgba(255,255,255,0.95);
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        width:100%;
        height:auto;
        position: absolute;
        top:0;
        left:0;
        right:0;
        z-index: 11;
        color:#333;
        padding: 20px 20px 15px;
        @include border-radius(2px);

        .coverage-search-container {
            padding-left: 0;
        }

        form {
            min-height: 53px;
            margin-bottom: 0;

            #coverage-city {
                display: inline-block;
                width: auto;
            }

            .search-container {
                height: 53px;
                padding-right: 0;
                display: inline-block;
                margin-left: 10px;
            }

            #location {
                background: #f6f6f6;
                display: inline-block;
                padding:14px 12px 10px 12px;
                border: 1px solid #d9d9d9;
                width: 315px;
                font-size: 17px;
                font-family: UniversL;
                color:#333;
                min-width: 0;
            }

            .button {
                height: 50px;
                display: inline-block;
                line-height: 18px;
                background: $primary-color;
                padding: 16px 10px;
                margin: 0;

                .icon-search {
                    font-size: 17px;
                    display: none;
                }

                .button-txt {
                    font-size: 14px;
                    font-family: $default-font;
                    text-transform: uppercase;
                    line-height: 18px;
                }
            }

            .use-my-location-container {
                padding: 10px 0 0 0;
                text-transform: uppercase;
                display: inline-block;
                margin-left: 10px;

                .use-my-location-or {
                    font-size: 12px;
                }

                #use-my-location {
                    font-size: 14px;
                    color: $primary-color;
                    font-family: $default-font;
                }
                #use-my-location:hover {
                    text-decoration: none;
                    border-bottom: 2px solid $primary-color;
                    padding-bottom: 3px;
                }
            }
        }
    }
}

#coverage-map.fill-screen {
    min-height:100vh;
}


/* ------------------------------------------------------------------ */
/* Coverage homeblock
/* ------------------------------------------------------------------ */
#coverage {
    padding:80px 0;
    margin-bottom: 80px;
    background: #f7f7f7;
    position:relative;
}

#coverage .coverage-carousel .column,
#coverage .coverage-carousel .columns {
    /* set so that the slick-slide background is nicely added */
    padding:20px;
}
#coverage .coverage-carousel .slick-slide {
    background: #FFF;
}

#coverage .coverage-carousel h2 {
    color:$default-text-color;
    font-family: $default-font-bold;
    margin-top:20px;
}
#coverage .coverage-carousel p {
    color:$default-text-color;
}

#coverage .coverage-carousel .slick-dots {
    bottom:-75px;
}

#coverage .coverage-carousel .slick-dots li button::before,
#coverage .coverage-carousel .slick-dots li.slick-active button::before {
    color:$primary-color;
    opacity: 0.7;
    font-size: 16px;
}
#coverage .coverage-carousel .slick-dots li.slick-active button::before {
    opacity: 1;
}



/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {

    #coverage-map #form-container form {

        #location {
            width: 290px;
        }

        .button {
            padding: 16px 20px;

            .icon-search {
                display: block;
            }

            .button-txt {
                display: none;
            }
        }
    }
}

/* Tablets */
@media only screen and (max-width: 900px) {

    #coverage-map #form-container {
        padding-bottom: 10px;

        form {
            .use-my-location-container {
                display: block;
                margin: 0;
                padding: 5px 0 0;
            }
        }
    }
}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

    #coverage-map #form-container .coverage-search-container {
        padding-right: 40px;

        form {

            #coverage-city {
                display: block;
                width: 100%;
            }

            .search-container {
                display: block;
                width: 100%;
                margin: 0;
            }

            #location {
                width: calc(100% - 61px);
            }
        }
    }

    #coverage .page-image-container {
        margin-bottom: 20px;
    }

    #coverage .coverage-carousel h2 {
        font-size: 30px;
    }

    #coverage .coverage-carousel p {
        font-size: 18px;
    }

    #coverage .coverage-carousel .nine.column,
    #coverage .coverage-carousel .nine.columns {
        padding:20px 20px 0 20px;
    }

    #coverage .coverage-carousel .three.column,
    #coverage .coverage-carousel .three.columns {
        padding:0 20px 20px 20px;
    }
}

@media only screen and (max-width: 600px) {

    #coverage-map #form-container > div {
        padding: 0 10px;
    }

}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {

    #coverage-map #form-container {
        //width: 90%;

        .section-title {
            p {
                font-size: 14px;
            }

            h2 {
                font-size: 30px;
            }
        }

        .use-my-location-container {
            font-size: 13px;


        }
    }


    #coverage.fill-screen {
        display: block;
    }
}