/* ------------------------------------------------------------------ */
/* Data bundles
/* ------------------------------------------------------------------ */

.data-bundle-row {
    background-color: white;
    border: 1px solid transparent;
    float: left;
    width: 100%;
}

#data-bundles .data-bundle-row:hover {
    background-color: #f6f6f6;
    border: 1px solid #eee;
    cursor: pointer;
}

.data-bundle-column {
    min-height: 150px;
    /*background: red;*/
    /*border: 1px solid white;*/
}

.data-bundle-column ul {
    margin-left: 0px;
}

.data-bundle-column ul li{
    text-align: left;
    font-size: 16px;
    margin-bottom: 7px;
}

.data-bundle-column ul li:before{
    font-family: 'icomoon';
    content: "\f00c";
    padding: 2px;
    background-color: $primary-color;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 14px;
    color: white;
}

.data-bundle-column .circle{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 20px auto 0;
    position: relative;
}

.data-bundle-column .circle-back {
    border-radius: 50%;
    width: 128px;
    height: 128px;
    background: transparent;
    position: absolute;
    top:-4px;
    left:-4px;
    border:1px solid #ebebeb;
}

.data-bundle-column .data-bundle-subtitle {
    display: none;
}

.data-bundle-column .title {
    padding-top: 46px;
    text-align: center;
    font-size: 20px;
    font-family: $default-font-light;
    color: white;
}

.data-bundle-column .orange {
    background: #faa61c;
}

.data-bundle-column .grey {
    background: #86919a;
}

.data-bundle-column .green {
    background: $primary-color;
}

.data-bundle-column .light-green {
    background: #b0d235;
}

.data-bundle-column .subtitle {
    font-family: $default-font-light;
    font-size: 15px;
    font-style: normal;
    color:$default-text-color;
    line-height: 20px;
    padding-top: 10px
}

.data-bundle-column .data-bundle {
    color: white;
    font-family: $default-font-bold;
    font-size: 40px;
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.data-bundle-column .data-bundle .data-bundle-size {
    font-family: $default-font;
    font-size: 20px;
    vertical-align: super;
    text-align: left;
}

.data-bundle-column .data-bundle .text {
    font-family: UniversR;
    font-size: 17px;
    line-height:20px;
}

.data-bundle-column .data-bundle-recharge {
    margin-top: 10px;
    display: block;
    width: 75%;
}

.data-bundle-column .column-title {
    font-family: $default-font-bold;
    font-size: 14px;
    text-align: left;
    padding-top: 20px;
}

.data-bundle-column span.column-title {
    display: block;
}

.data-bundle-column span.amount {
    text-align: left;
    display: block;
    margin-top: 20px;
}

.data-bundle-column ul li span.amount {
    font-size: inherit;
    font-family: inherit;
    display: inline;
    top: inherit;

    .currency-symbol {
        font-size: 16px;
    }
}

.data-bundle-column span.amount .currency-symbol {
    font-size: 30px;
}

#data-bundles .bundles.fulllist .support {
    margin-top:50px;
}

#data-bundles {
    width: 100%;

    .accordion, .accordion * {
        @include box-sizing(border-box);
    }

    .accordion {
        overflow:hidden;
        padding: 0 20px;
        margin-top: 20px;
    }

    /*----- Section Titles -----*/
    .accordion-section-title {
        width:100%;
        padding:17px 15px 13px 35px;
        display:block;
        border-bottom:1px solid #fff;
        background:white;
        transition:all linear 0.15s;
        font-size:0.9em;
        line-height: 22px;
        color:$primary-color;
        position: relative;
        font-size: 17px;
    }

    .accordion-section-title:hover {
        background:#eee;
        text-decoration:none;
    }

    .accordion-section-title.active {
        text-decoration:none;
        background:#ededed;
        border-bottom:1px solid #eee;
        color:#333;
    }

    .accordion-section:last-child .accordion-section-title {
        border-bottom:none;
    }

    /*----- Section Content -----*/
    .accordion-section-content {
        padding:30px;
        border: 2px solid #eee;
        border-top:0;
        display:none;
        background: white;
        text-align: left;
    }
}

.data-bundle-disclaimer {
    font-size:15px;
}

.data-bundle-price-subtitle {
    text-align:left;
    padding-top:10px;
}




/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {

}

/* Tablets */
@media only screen and (max-width: 900px) {

    /* Data bundles */
    .data-bundle-column ul li {
        font-size: 14px;
    }
    .data-bundle-column ul li:before{
        font-size: 13px;
        margin-right: 2px;
    }

    .data-bundle-column .circle {
        width:100px;
        height:100px;
    }
    .data-bundle-column .circle-back {
        width:108px;
        height:108px;
    }
    .data-bundle-column .title {
        font-size: 18px;
        padding-top: 38px;
    }
    .data-bundle-column .subtitle {
        font-size: 14px;
    }

    .data-bundle-column .data-bundle {
        font-size:30px;
    }

    .data-bundle-column .data-bundle .data-bundle-size {
        font-size:15px;
    }

    .data-bundle-column .data-bundle-recharge {
        width: 100%;
    }

    .data-bundle-column span.amount {
        font-size: 30px;

        .currency-symbol {
            font-size: 23px;
        }
    }
    .data-bundle-column span.amount:before {
        font-size: 23px;
    }
    .data-bundle-column ul li {
        margin-bottom: 0;
    }
}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

    .data-bundle-row {
        padding-top:20px;
    }

    .data-bundle-column ul li {
        font-size: 16px;
        text-align: center;
        margin-bottom: 7px;
    }
    .data-bundle-column ul li:before {
        font-size:14px;
        margin-right:5px;
    }

    .data-bundle-column .circle{
        width: 200px;
        height: 200px;
    }

    .data-bundle-column .circle-back {
        width: 210px;
        height: 210px;
        left:-6px;
        top:-6px;
    }

    .data-bundle-column .title {
        padding-top:44px;
        font-size: 26px;
    }

    .data-bundle-column .column-title.price {
        display: none;
    }
    
    .data-bundle-column .column-title {
        text-align: center;
        font-size: 16px;
        padding-top: 0px;
    }

    .data-bundle-column .data-bundle {
        font-size:70px;
    }

    .data-bundle-column .data-bundle .data-bundle-size {
        font-size:30px;
    }

    .data-bundle-column .data-bundle-recharge {
        margin-bottom: 0;
    }

    /*.data-bundle-column .data-bundle {*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*}*/

    .data-bundle-column .data-bundle-inner {
        display: block;
        color: #fff;
        font-family: $default-font-bold;
        font-size: 60px;
        margin-left: 20px;
        position: relative;
    }

    /*.data-bundle-column .data-bundle-size {*/
    /*font-family: UniversR;*/
    /*font-size: 15px;*/
    /*vertical-align: super;*/
    /*}*/

    .data-bundle-column .data-bundle-subtitle {
        display: block;
        color:#fff;
        font-size: 15px;
        line-height: 20px;
        margin:20px 35px;
    }

    .data-bundle-column .subtitle {
        //display: none;
    }

    .data-bundle-row .data-bundle-column:nth-child(2){
        //display: none;
    }
    .data-bundle-column ul li {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .data-bundle-row .data-bundle-column:nth-child(4) {
        min-height: 60px;
        margin-top:20px;
    }
    .data-bundle-row .data-bundle-column:nth-child(4) .column-title {
        display: none;
    }

    .data-bundle-column ul {
        position: absolute;
        /*left: 50%;*/
        /*transform: translate(-50%, 0);*/
        width:100%;
    }

    .data-bundle-column span.amount {
        text-align: center;
        position: static;
        padding-top: 0px;
    }

    .data-bundle-price-subtitle {
        text-align: center;
        position: static;
        padding-top:10px;
    }
}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {

    .data-bundle-row {
        padding-top: 10px;
    }

    .data-bundle-column {
        min-height:140px;
    }

    .data-bundle-column .circle{
        width: 150px;
        height: 150px;
    }

    .data-bundle-column .circle-back {
        width: 160px;
        height: 160px;
        left:-5px;
        top:-5px;
    }

    .data-bundle-column .title {
        padding-top: 25px;
        font-size: 20px;
        margin-bottom: 4px;
    }
    .data-bundle-column .data-bundle-inner {
        font-size: 40px;
        margin:0;
    }

    .data-bundle-column .data-bundle {
        font-size: 50px;
    }
    .data-bundle-column .data-bundle .data-bundle-size {
        font-size: 25px;
    }

    .data-bundle-column .data-bundle-subtitle {
        margin:5px 10px;
    }

    .data-bundle-column ul li {
        margin-bottom: 0;
    }
}