/* ------------------------------------------------------------------ */
/* Footer
/* ------------------------------------------------------------------ */

footer {
    padding-top:30px;
    padding-bottom:0px;
    margin-top:50px;
    background: #FFF;
    overflow: hidden;
    position:relative;
}

footer .sitemap {
    padding-bottom:50px;
    border-bottom: 1px solid #eee;
}

footer .sitemap h2 {
    font-family: $default-font;
    font-weight:bold;
    font-size: 18px;
}

footer .sitemap p {
    color: $default-text-color;
}

footer .sitemap li a {
    font-size: 15px;
    color:$default-text-color;
}

footer .sitemap li a:hover {
    color: #111;
    text-decoration: underline;
}

footer .sitemap form#newsletter {
    position: relative;
}
footer .sitemap form#newsletter input {
    width:100%;
    margin-bottom:0;

    height: 56px;
    line-height: 24px;
    padding: 3% 4%;
    border: none;
    background-color: #eee;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-shadow: none;
    color: $default-text-color;
    font-size: 16px;
    margin: 0 10px 0px 0;
}
footer .sitemap input[type="text"]:focus {
    background-color:#CCC;
    color:$default-text-color;
}

footer .sitemap form#newsletter button {
    position: absolute;
    right: 0px;
    top: 0;
    display: block;
    width:60px;
    height:56px;
    padding:0;
    background:$primary-color;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 16px;
    font-weight: bold;
}


footer .sitemap ul.socials li {
    display: inline-block;
    width:40px;
    height:40px;
    border-radius:50%;
    text-align:center;
    padding: 5px 0 0 0;
    margin: 0 5px;
    background:#fff;
    font-size:30px;
    border: 1px solid #eee;
}

footer .sitemap ul.socials li:hover {
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

footer .sitemap ul.socials li .icon-facebook { color:#3b5998; }
footer .sitemap ul.socials li.facebook:hover { border: 1px solid #3b5998; }
footer .sitemap ul.socials li .icon-twitter { color:#55acee; }
footer .sitemap ul.socials li.twitter:hover { border: 1px solid #55acee; }
footer .sitemap ul.socials li .icon-instagram { color:#316699; }
footer .sitemap ul.socials li.instagram:hover { border: 1px solid #316699; }
footer .sitemap ul.socials li .icon-youtube-play { color:#e02f2f; }
footer .sitemap ul.socials li.youtube:hover { border: 1px solid #e02f2f; }
footer .sitemap ul.socials li .icon-vine { color:#1ab7ea; }
footer .sitemap ul.socials li.vine:hover { border: 1px solid #1ab7ea; }

footer .sitemap ul.socials li a:hover {
    text-decoration: none !important;
}



footer .copyright {
    padding:30px 0 20px 0;
    text-align: center;
}
footer .copyright p {
    font-size: 14px;
}
footer .copyright li {
    display:inline;
    padding:0 20px;
    border-right: 1px solid #999;
}
footer .copyright li:last-child {
    border:none;
}
footer .copyright li a {
    color:$default-text-color;
    font-size: 12px;
}
footer .copyright li a:hover {
    text-decoration: underline;
}




/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {

}

/* Tablets */
@media only screen and (max-width: 900px) {

    footer .sitemap form#newsletter button {
        right:-20px;
    }
}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {

}