select.dropdown {
    width: 100%;
    height: 50px;
    border: 1px solid #d9d9d9;
    padding: 14px 10px 10px 15px;
    font-family: $default-font-light;
    @include border-radius(0px);
    @include appearance(none);
    background: $light-gray url(../images/icons/dropdown-arrow-black2.jpg) no-repeat right 3px center;
    background-size: 40px;

    option {
        font-family: $default-font-light;
        font-size: 16px;
    }
}

select.dropdown::-ms-expand{
    display: none;  /* IE11 fix */
}

form {
    select {
        width: 100%;
        height: 50px;
        border: none;
        padding: 14px 10px 10px 15px;
        font-family: $default-font-light;
        @include border-radius(0px);
        @include appearance(none);
        background: $light-gray url(../images/icons/caret-down.png) no-repeat right 15px center;
        background-size: 8px;

        &:disabled {
            opacity: 0.5;
        }

        option {
            font-family: $default-font-light;
            font-size: 16px;
        }
    }

    select::-ms-expand{
        display: none;  /* IE11 fix */
    }
}


/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {

}

/* Tablets */
@media only screen and (max-width: 900px) {

}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {

}