/* ------------------------------------------------------------------ */
/* General Styles
/* ------------------------------------------------------------------ */

body {
    background: #fff;
    /*overflow-y: hidden;*/
}

::selection {
    background: $primary-color; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: $primary-color; /* Gecko Browsers */
}


//.section-title {
//    font-family: $default-font-light;
//    font-size:45px;
//    color: $default-text-color;
//    line-height: 50px;
//    margin-left: 40px;
//    margin-bottom: 30px;
//    text-align: left;
//    transition: all .3s;
//    -webkit-transition: all .3s;
//    -moz-transition: all .3s;
//    -ms-transition: all .3s;
//    -o-transition: all .3s;
//}

/* Smile colors */
.green {color:$primary-color;}
.green-light {color:$primary-color;}
.orange {color:#faa61c;}
.grey {color:#86919a;}
.green-background {background-color:$primary-color;}
.green-light-background {background-color:$primary-color;}
.orange-background {background-color:#faa61c;}
.grey-background {background-color:$light-gray;}

.currency-symbol {
    font-family: Tahoma, Arial;
    padding-right: 3px;
}

span.amount {
    font-family: $default-font;
    font-size: 40px;
    color: $default-text-color;
    position: relative;
}

//span.amount:before {
//    content: "\20A6";
//    padding-right: 3px;
//    font-family: Tahoma, Arial;
//    font-size: 30px;
//}

/*.currency {*/
/*font-size: 30px;*/
/*position: absolute;*/
/*top:11px;*/
/*left:-24px;*/
/*font-family: Tahoma;*/
/*}*/

.thousands {
    font-family: $default-font;
    vertical-align: super;
    font-size: 30px;
}

.hidden {
    display: none;
}

strong, b {
    font-weight: normal;
    font-family: $default-font;
}

* {
    @include input-placeholder {
        color: #999 !important;
        opacity: 1;
    }
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #D3D9D9 !important;
}
.placeholder {
    color: #D3D9D9 !important; /* IE9 */
}


/* Loader */
#fullscreen-loader {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    opacity: 0.95;
    z-index: 1000;
}

#fullscreen-loader .spinner {
    height: 60px;
    width: 60px;

    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 100px;
    right: 0;

    @include animation(rotation .6s infinite linear);
    border-left: 6px solid rgba(117, 179, 67, 0.15);
    border-right: 6px solid rgba(117, 179, 67, 0.8);
    border-bottom: 6px solid rgba(117, 179, 67, 0.8);
    border-top: 6px solid rgba(117, 179, 67, 0.8);
    border-radius: 100%;
}

@include keyframes(rotation) {
    from {
        @include transform(rotate(0deg));
    }
    to {
        @include transform(rotate(359deg));
    }
}

#fullscreen-loader .message {
    text-align: center;
    font-family: $default-font-light;
    font-size: 17px;
    width: 50%;
    height: 100px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -100px;
    right: 0;
}

.no-scroll {
    overflow: hidden;
}

/* ------------------------------------------------------------------ */
/* Centering
/* ------------------------------------------------------------------ */
.fill-screen {
    min-height: 96vh;
    @include display-flex;
    @include align-items(center);
    //@include justify-content(center);
}


/* ------------------------------------------------------------------ */
/* Embeds
/* ------------------------------------------------------------------ */
body iframe {
    width:400px;
    height:250px;
}



/* ------------------------------------------------------------------ */
/* Cities
/* ------------------------------------------------------------------ */
.page-image-container {
    position: relative;

    .city {
        position: absolute;
        cursor: pointer;
        //background-color: rgba(0,0,0,0.3);

        .city-title {
            max-width: 80px;
            word-wrap: break-word;
            line-height: 1.3em;
            color: white;
            text-transform: none;
            font-size: 15px;
            text-align: center;
        }

        .city-dot {
            position: relative;
            left: 50%;
            @include transform(translateX(-50%));
        }
    }
}

.ninja-forms-form {

    strong {
        font-family: $default-font-bold;
    }

    hr {
        margin: 75px 0;
        border: none;
    }
}

#ui-datepicker-div {
    border: 1px solid lightgrey;
}

/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {

}

/* Tablets */
@media only screen and (max-width: 900px) {

}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

    /* Embeds */
    body iframe {
        width:100%;
        height:auto;
    }

    .wp-post-image {
        margin-bottom: 20px;
    }
}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {

    .section-title {
        font-size: 35px;
        line-height: 45px;
        margin-bottom:10px;
        margin-left:20px;
    }

    span.amount {
        font-size: 50px;
        margin-left:5px;
    }
    .thousands {
        font-size: 23px;
    }

    /* ------------------------------------------------------------------ */
    /* Cities
    /* ------------------------------------------------------------------ */
    .page-image-container .city .city-title {
        font-size: 13px;
    }
}
