/* ------------------------------------------------------------------ */
/* Header Styles
/* ------------------------------------------------------------------ */

header[role=banner] {
    margin-bottom: 100px;
}

header[role=banner].no-margin {
    margin-bottom: 0px;
}

.header-carousel {
    display: block;
    height:100%;
    width:100%;
    margin-top:0px; /* height nav bar */
    position: relative;
}

header .header-carousel .slick-prev,
header .header-carousel .slick-next {
    position: absolute;
    top:65%;
    z-index: 10;
    width:40px;
    height: 50px;
}
header .header-carousel .slick-prev:hover
header .header-carousel .slick-next:hover {
    cursor: pointer;
}
header .header-carousel .slick-prev {
    left:10px;
    right:auto;
}
header .header-carousel .slick-next {
    left:auto;
    right:10px;
}
header .header-carousel .slick-prev::before,
header .header-carousel .slick-next::before {
    font-size: 45px;
    font-family: icomoon;
}
header .header-carousel .slick-prev::before {
    content: "\e60e";
}
header .header-carousel .slick-next::before {
    content: "\e60d";
}
header .header-carousel ul.slick-dots {
    bottom:0;
}
header .header-carousel .slick-dots li button::before {
    font-size: 15px;
    color:#f7f7f7;
    opacity: 0.7;
}
header .header-carousel .slick-dots li.slick-active button::before {
    color:$primary-color;
    opacity: 0.9;
}


header .header-banner {
    position: relative;
    height: 800px;
    min-height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    overflow: hidden;
    @include background-size(cover !important);
    display: none;
}

header .header-banner .hero {
    position: absolute;
    bottom:18%;
    left:5%;
    width:90%;
    z-index: 10;
    vertical-align: top;
}

header .header-banner .hero h2 {
    font-size: 55px;
    text-transform: uppercase;
    font-family: $default-font-light;
    line-height: 60px;
    color: #FFF;
    text-align: left;
    width: 100%;
    margin-bottom: 7px;
}

header .header-banner .hero p {
    font-family: $default-font;
    font-size: 20px;
    color: #FFF;
    margin-bottom: 15px;
}

header .header-banner .hero a {
    font-family: $default-font;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 50px;
    outline:none;
    margin-bottom: 0;
}

header .header-banner .hero a.button:hover {
    background: #64af27;
    color: #fff;
}

header .header-banner .hero ul.logos {
    margin:10px 0 5px 0;
}
header .header-banner .hero ul.logos li {
  width: 280px;
    height:auto;
    display: inline-block;
    vertical-align: middle;
}





/* usps */
#usp {
    background: rgba(0,0,0, .4);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: block;
    text-align: center;
    z-index: 2;
}

#usp ul#mobile {
    display:none;
}

#usp ul {
    margin: 24px 0;
    padding: 0;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, .8);
}

#usp ul li {
    display: inline-block;
    margin: 0 30px;
    padding: 0;
}

#usp ul li i {
    display: block;
    font-size: 28px;
    padding-bottom:5px;
}

#usp ul li a {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
}
#usp ul li a:hover {
    text-decoration: none;
    cursor: default;
}




/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {

    header .header-banner .hero {
        top:60%;
    }
    header .header-banner .hero h2 {
        font-size: 50px;
        line-height: 55px;
    }

    #usp ul li {
        margin: 0 20px;
    }
    #usp ul li a {
        font-size: 18px;
    }
}

/* Tablets */
@media only screen and (max-width: 900px) {

    header .header-banner .hero h2 {
        font-size: 40px;
        line-height: 50px;
    }
    header .header-banner .hero p {
        font-size: 20px;
    }
    header .header-banner .hero a {
        font-size: 22px;
        padding: 12px 30px;
    }
    header .header-banner .hero ul.logos li {
        width: 245px;
    }


    #usp ul li {
        margin: 0 15px;
    }
    #usp ul li a {
        font-size: 16px;
    }
}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

    header .header-carousel ul.slick-dots {
        bottom:5%;
    }

    header .header-carousel .slick-prev::before,
    header .header-carousel .slick-next::before {
        display: none;
    }

    header .header-banner .hero {
        top:auto;
        bottom:16%;
        text-align: center;
    }
    header .header-banner .hero h2 {
        text-align: center;
        margin-bottom:0;
    }
    header .header-banner .hero p {
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }
    header .header-carousel .slick-dots li button:before {
        font-size: 12px;
    }


    #usp {
        height:70px;
    }
    #usp ul#desktop {
        display:none;
    }
    #usp ul#mobile {
        display:block;
        margin:15px 0 0 0;
    }
    #usp ul li {
        margin: 0 15px;
    }
    #usp ul li i {
        font-size: 23px;
        padding-bottom:0;
    }
    #usp ul li a {
        font-size: 18px;
    }
}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {

    header .header-banner .hero h2 {
        font-size: 30px;
        line-height: 35px;
    }
    header .header-banner .hero p {
        font-size: 16px;
        line-height: 22px;
    }
    header .header-banner .hero a {
        font-size: 18px;
        padding:8px 20px;
    }
    header .header-banner .hero ul.logos li {
        width: 175px;
    }

    #usp {
        height:60px;
    }
    #usp ul#mobile {
        margin:10px 0 0 0;
    }
    #usp ul li a {
        font-size: 15px;
    }
    #usp ul li {
        margin: 0 2%;
    }
    #usp ul li i {
        font-size: 17px;
        padding-bottom:0;
    }
}