/* ------------------------------------------------------------------ */
/* Knowledgebase
/* ------------------------------------------------------------------ */

#webcare {
}

#webcare .six.columns {
    padding: 5px;
}

#webcare .intro {
}

#webcare p {
    line-height: 25px;
}

#webcare .block-container {
    margin-top:20px;
}
#webcare .block {
    background: #f6f6f6;
    padding:30px;
    text-align: center;
    height: 200px;
    position: relative;
}

#webcare .block:hover {
    background: #f3f3f3;
    cursor: pointer;
}

#webcare .block h3 {
    font-family: $default-font-light;
    color: $default-text-color;
    font-size: 20px;
    line-height: 25px;
    margin:5px 0 15px 0;
}

#webcare .block .description {
    font-size: 14px;
    line-height: 22px;
}
#webcare .block p {
}

#webcare .block a {
    padding:8px 20px;
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    left:0;
    right:0;
    margin:0 auto;
    width:50%;
}

#webcare .right-column {
    margin-top:-80px;
    padding:10px;
}


.webcare-questions {
}

.webcare-questions .section-title {
    text-align: left;
    margin:0;
}

.webcare-questions h3 {
    text-transform: uppercase;
}

.webcare-questions .st-accordion {
    text-align: left;
    float: left;
}

.webcare-questions {
    .accordion, .accordion * {
        @include box-sizing(border-box);
    }

    .accordion {
        overflow:hidden;
        background:#fff;
    }

    /*----- Section Titles -----*/
    .accordion-section-title {
        width:100%;
        padding:17px 15px 13px 35px;
        display:block;
        border-bottom:1px solid #fff;
        background:#f6f6f6;
        transition:all linear 0.15s;
        font-size:0.9em;
        line-height: 22px;
        color:#333;
        position: relative;
    }
    .accordion-section-title:before {
        font-family: 'icomoon';
        content: "\f054";
        position: absolute;
        top:15px;
        left:15px;
    }

    .accordion-section-title:hover {
        background:#eee;
        text-decoration:none;
    }

    .accordion-section-title.active {
        text-decoration:none;
        background:#ededed;
        margin-top: 10px;
        border-bottom:1px solid #eee;
    }
    .accordion-section-title.active:before {
        font-family: 'icomoon';
        content: "\f078";
        position: absolute;
        top:14px;
        left:15px;
    }

    .accordion-section:last-child .accordion-section-title {
        border-bottom:none;
    }

    /*----- Section Content -----*/
    .accordion-section-content {
        padding:5px 15px;
        border: 2px solid #eee;
        border-top:0;
        margin-bottom:10px;
        display:none;
    }
}

#webcare-menu {
    padding:10px 0;
}
#webcare-menu nav {
    border-top: 2px solid #F7F7F7;
    width: 100%;
    float: left;
}
#webcare-menu h3 {
    margin-bottom: 15px;
    margin-left:10px;
    text-transform: uppercase;
    font-size: 20px;
}
#webcare-menu .highlight {
    color:#faa61c;
    font-size: 16px;
}
#webcare-menu ul {
    margin-top:0;
}
#webcare-menu ul li {
    position: relative;
    padding:0;
    border-bottom: 1px solid #eee;
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 0;
}

#webcare-menu ul li.active {
    background: #f9f9f9;
}

#webcare-menu ul li:hover {
    cursor: pointer;
    background: #f9f9f9;
}

#webcare-menu ul li a {
    display: block;
    padding:26px 0 19px 40px;
}

#webcare-menu ul li a:hover {
    text-decoration: none;
}

#webcare-menu ul li a.big span.subtitle {
    display: block;
    font-size: 14px;
    color:$default-text-color;
}

#webcare-menu ul li a.big span.icon-left,
#webcare-menu ul li a.big span.icon-right {
    top:30px;
}
#webcare-menu ul li a span.icon-right {
    position: absolute;
    right:10px;
}
#webcare-menu ul li a span.icon-left {
    position: absolute;
    left:10px;
}




/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {

}

/* Tablets */
@media only screen and (max-width: 900px) {

}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

    #webcare .right-column {
        margin-top: 0;
    }
}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {

}