/* ------------------------------------------------------------------ */
/* Mobile menu
/* ------------------------------------------------------------------ */
#site-nav button.mobile-btn {
    font-size: 26px;
    color: $default-text-color;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
}

#site-nav nav.mobile-nav {
    background: rgba(255, 255, 255, 0.98);
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0px;
    left: -500px;
    text-align: left;
    display: none;
    overflow: auto;
    @include transition(all 0.3s);
}

#site-nav nav.mobile-nav button.close-menu {
    background: #eee;
    color: $default-text-color;
    border-radius: 0;
    font-size: 26px;
    height: 54px;
    width: 60px;
    padding-left: 20px;
}

#site-nav nav.mobile-nav button.close-menu i {
    border: none;
    font-size: 23px;
    float: left;
}

#site-nav nav.mobile-nav ul li a {
    color: $default-text-color;
    text-transform: uppercase;
    font-size: 13px;
}

.mobile-nav-background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
}

/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {

}

/* Tablets */
@media only screen and (max-width: 900px) {

}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {

}