/* ------------------------------------------------------------------ */
/* Product Section
/* ------------------------------------------------------------------ */

#products {
    //padding-top:100px;
    padding-bottom:30px;
    background: #FFF;
    overflow: hidden;
    position:relative;
}

#products .products-block {
    background: #f7f7f7;
    /*background: #f3f3f3;*/
    padding:80px 0 80px 0;
    margin:0 0 10px 0;
}

#products .products-block.data-bundle {
    padding-bottom:0;
}

#products .products-block.data-bundle.fill-screen {
    @include flex-direction(column);
}

#products .products-block .three.data-bundle-item .data-bundle-circle .image-container:hover {
    cursor: pointer;
    background: #f7f7f7;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

#products .products-promotion {
    //background: #f6f6f6;
    padding:0px 0 40px 0;
    margin:0 0 10px 0;
}
#products .products-promotion h1 {
    display: none;
    font-family: $default-font-bold;
    text-align: center;
}

#products .products-promotion .section-title {
    margin-top: 40px;
}

#products .product-circle {
    background:#f6f6f6;
    text-align: center;
    padding:30px 20px;
    position: relative;
    margin-bottom:40px;
}
#products .product-circle figure{
    padding-bottom:10px;
}

#products .product-circle:hover {
    background: #eee;
    cursor: pointer;
}

#products .product-circle .image-container {
    background: #FFF;
    width: 220px;
    height: 220px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    position: relative;

    border-bottom: solid 3px #e7e7e7;
    border-top: solid 1px #e7e7e7;
    border-left: solid 2px #e7e7e7;
    border-right: solid 2px #e7e7e7;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    /*box-shadow: 0 0 4px rgba(0, 0, 0, .2);*/
    /*-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .2);*/
    /*-moz-box-shadow: 0 0 4px rgba(0, 0, 0, .2);*/
}

#products .product-circle .image-container img {
    width:170px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* When six columns bigger image */
#products .six .product-circle .image-container {
    width:250px;
    height:250px;
}
#products .six .product-circle .image-container img {
    width:180px;
}

#products .product-circle .special {
    position: absolute;
    top:-5px;
    left:-5px;
    width:75px;
    height:75px;
    border-radius:50%;
    font-family: $default-font-bold;
    font-size:24px;
    font-weight: bold;
    padding:21px 0 0 0;
    color:#fff;
    line-height:18px;
    text-align:center;
    background:#faa61c
}
#products .product-circle .special .gb {
    font-size: 17px;
    font-weight: normal;
    padding:0 0 0 2px;
    vertical-align: top;
}
#products .product-circle .special .included {
    font-size: 11px;
    font-weight: normal;
}

#products .product-circle .special .superscript {
    font-size: 13px;
    font-weight: normal;
    top:-5px;
    position: relative;
}
#products .product-circle .special .value {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top:-3px;
}

#products .product-circle span.amount {
    position: absolute;
    bottom:5px;
    right:-5px;
    background: $primary-color;
    padding:4px 13px;
    color:#fff;
    @include border-radius(2px);
}

#products .product-circle span.amount {
    font-size: 16px;
    margin-left:40px;

    .currency-symbol {
        font-size: 15px;
    }
}

#products .product-circle .thousands {
    font-size: 20px;
}

#products .product-circle h2 {
    font-family: $default-font-light;
    font-size: 24px;
    color:$default-text-color;
    text-transform: uppercase;
}

#products .product-circle p {
    font-family: $default-font-light;
    font-weight: 100;
    line-height: 18px;
    font-size: 15px;
    color:#888;
    padding:0;
    margin-bottom: 0px;
    min-height:80px;
}

#products .product-circle a.link {
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    //border-bottom: 2px solid $primary-color;
    padding:5px;
    display: block;
    width: 100%;
    margin:0 auto;
    position: relative;
}

#products .data-bundle-circle {
    background-color: transparent;
}

#products .data-bundle-circle:hover {
    background: transparent;
    cursor: default;
}

#products .data-bundle-container {
    width: 240px;
    height: 240px;
}

#products .image-container.data-bundle-container {
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-width:0;
}

#products .data-bundle-container .title {
    font-family: $default-font-light;
    font-size: 24px;
    text-align: center;
    padding-top: 40px;
}

#products .data-bundle-container .data-bundle {
    font-family: $default-font-bold;
    font-size: 60px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#products .data-bundle-container .data-bundle .text {
    font-family: UniversR;
    font-size: 30px;
    line-height: 30px;
}

#products .data-bundle-container .data-bundle .data-bundle-size {
    font-family: $default-font;
    font-size: 30px;
    vertical-align: super;
    text-align: left;
}

#products .data-bundle-container span.amount {
    font-size: 18px;

    .currency-symbol {
        font-size: 18px;
    }
}

#products .data-bundle-container span.amount:before {
    font-size: 18px;
}

#products .data-bundle-container .validity {
    padding-top: 5px;
    font-size: 15px;
    color:#bbbbbb;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#products .data-bundle-container .orange {
    color: #faa61c;
}

#products .data-bundle-container .grey {
    color: #86919a;
}

#products .data-bundle-container .green {
    color: $primary-color;
}

#products .data-bundle-container .light-green {
    color: #b0d235;
}


/* ------------------------------------------------------------------ */
/* Product display as card
/* ------------------------------------------------------------------ */
#products .product-card {
    background:#FFF;
    text-align: center;
    padding:30px 20px;
    border-bottom: solid 3px #e7e7e7;
    margin:0 0 10px 0;
    position: relative;
}
#products .product-card:hover {
    background: #eee;
    cursor: pointer;
}

#products .product-card figure{
    padding-bottom:10px;
    height:110px;
}
#products .product-card figure .helper {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
}
#products .product-card figure img {
    width:auto;
    height:110px;
    display: inline;
}

/* When six columns bigger image */
#products .six .product-card figure{
    height:170px;
}
#products .six .product-card figure img {
    height:170px;
}

#products .product-card h2 {
    font-family: $default-font;
    font-weight: 300;
    font-size: 30px;
    color:$default-text-color;
    margin-bottom:20px;
}

#products .product-card p {
    /*font-family: UniversR;*/
    font-family: $default-font-light;
    font-weight: 100;
    font-size: 18px;
    line-height: 25px;
    color:$default-text-color;
    min-height: 150px;
}

#products .product-card a.link {
    font-size: 17px;
    text-decoration: underline;
    padding-bottom:20px;
    display: block;
}

#products .product-card .special {
    width: calc(100% + 40px); /* to break out padding of parent */
    height:48px;
    margin-left: -20px;
    margin-right: -20px;
    font-family: $default-font;
    font-size: 18px;
    text-transform: uppercase;
    color:#FFF;
    display: block;
    margin-bottom: 30px;
    padding-top:9px;
}
#products .product-card .special .gb {
    font-weight: 700;
}


/* ------------------------------------------------------------------ */
/* Product display as card item
/* ------------------------------------------------------------------ */
#products .product-card-item {
    background:#FFF;
    text-align: center;
    border-bottom: solid 3px #e7e7e7;
    margin:0 0 10px 0;
    padding:50px 0 10px 0;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
#products .product-card-item:hover {
    background: #eee;
    cursor: pointer;
}

#products .product-card-item figure img {
    width:auto;
    height:250px;
    margin:0 auto;
}

#products .product-card-item .details-container {
    text-align: left;
}

#products .product-card-item h2 {
    font-family: $default-font;
    font-weight: 300;
    font-size: 40px;
    color:$default-text-color;
    margin-bottom:20px;
}

#products .product-card-item p {
    font-family: $default-font-light;
    font-weight: 100;
    font-size: 17px;
    line-height: 30px;
    color:$default-text-color;
    width:100%;
    margin-bottom: 30px;
}

#products .product-card-item span.amount,
#products .product-card-item span.amount .thousands {
    color: #faa61c;
}

#products .product-card-item .special {
    font-family: $default-font;
    font-size: 18px;
    text-transform: uppercase;
    color:$default-text-color;
}
#products .product-card-item .special .gb {
    font-weight: 700;
}

#products .product-card-item a.link {
    font-size: 17px;
    text-decoration: underline;
    color:$default-text-color;
}




/* ------------------------------------------------------------------ */
/* Product display as rounded
/* ------------------------------------------------------------------ */




/* hier kun je nog mee verder.. */

#count{
    position:relative;
    border-radius:50%;
    overflow:hidden;
    line-height:200px;
    width:200px;
    text-align:center;
    background:#000;
    color:#fff;
    z-index:1;
}
#count span{
    position:absolute;
    top:0; left:0;
    width:100%; height:100%;
    background: red;
    z-index:-1;
    transform:scaleY(0.01);
    transition:transform 3s;
    transform-origin:50% 80%;

    transform:scaleY(1);
}



#products .product-rounded {
    background:#FFF;
    text-align: center;
    padding:30px 20px;
    border-bottom: solid 3px #e7e7e7;
    margin:0 0 10px 0;
    position: relative;


    border-radius:50%;
    overflow:hidden;

    width:400px;
    height: 400px;

    z-index:1;

    border-bottom: solid 3px #e7e7e7;
    border-top: solid 1px #e7e7e7;
    border-left: solid 2px #e7e7e7;
    border-right: solid 2px #e7e7e7;

}
#products .product-rounded:hover {
    background: #eee;
    cursor: pointer;
}

#products .product-rounded figure{
    padding-bottom:10px;
    height:110px;
}
#products .product-rounded figure .helper {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
}
#products .product-rounded figure img {
    width:auto;
    height:110px;
    display: inline;
}

/* When /* When six columns bigger image */
#products .six .product-rounded figure{
    height:170px;
}
#products .six .product-rounded figure img {
    height:170px;
}

#products .product-rounded h2 {
    font-family: $default-font;
    font-weight: 300;
    font-size: 30px;
    color:$default-text-color;
    margin-bottom:20px;
}

#products .product-rounded p {
    /*font-family: UniversR;*/
    font-family: $default-font-light;
    font-weight: 100;
    font-size: 18px;
    line-height: 25px;
    color:$default-text-color;
    min-height: 150px;
}

#products .product-rounded a.link {
    font-size: 17px;
    text-decoration: underline;
    padding-bottom:20px;
    display: block;
}

#products .product-rounded .special {
    width: calc(100% + 40px); /* to break out padding of parent */
    height:48px;
    margin-left: -20px;
    margin-right: -20px;
    font-family: $default-font;
    font-size: 18px;
    text-transform: uppercase;
    color:#FFF;
    display: block;
    margin-bottom: 30px;
    padding-top:9px;
}
#products .product-rounded .special .gb {
    font-weight: 700;
}

#products .product-rounded span.amount {
    font-family: $default-font-bold;
    font-size: 60px;
    color: $default-text-color;
    position: relative;
    margin-left:40px;
}

#products .product-rounded span.amount .thousands {
    font-family: $default-font;
    vertical-align: super;
    font-size: 30px;
}

/* ------------------------------------------------------------------ */
/* Product stickers - ribbons
/* ------------------------------------------------------------------ */
.ribbon-wrapper {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    top: 0;
}
.ribbon-wrapper.right {
    right: 0;
}
.ribbon-wrapper.left {
    left: 0;
}

.ribbon-wrapper .ribbon {
    font-family: $default-font-bold;
    font-size: 15px;
    color:#FFF;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    padding: 6px 0 2px 0;
    width: 240px;
}
.ribbon-wrapper .ribbon.right {
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    left: -30px;
    top: 45px;
}
.ribbon-wrapper .ribbon.left {
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
    left: -60px;
    top: 45px;
}

/* Colors */
.ribbon-wrapper .green { background-color: $primary-color; }
.ribbon-wrapper .orange { background-color: #faa61c; }
.ribbon-wrapper .red { background-color: red; }
.ribbon-wrapper .black { background-color: #333; }


.christmas-hat {
    position: absolute;
    right: -33px;
    top: -13px;
}

.christmas-hat.left {
    @include transform(scaleX(-1));
    right: auto;
    left: -33px;
}


/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {

    #products .product-circle .data-bundle-container {
        width: 180px;
        height: 180px;
    }
    #products .data-bundle-container .title {
        font-size: 22px;
        padding-top: 35px;
        margin-bottom: 6px;
    }
    #products .data-bundle-container .data-bundle {
        font-size: 50px;
    }
    #products .data-bundle-container .validity {
        font-size: 14px;
    }
    #products .data-bundle-container .data-bundle .data-bundle-size {
        font-size: 24px;
    }
    #products .data-bundle-container span.amount {
        font-size: 15px;
        padding: 4px 12px;
        bottom: -20px;
    }
}

/* Tablets */
@media only screen and (max-width: 900px) {

    #products .six .product-circle .image-container,
    #products .product-circle .image-container {
        width:200px;
        height:200px;
    }
    #products .six .product-circle .image-container img,
    #products .product-circle .image-container img {
        width:150px;
    }
    #products .product-circle span.amount {
        font-size: 22px;
        padding:4px 8px;

        .currency-symbol {
            font-size: 22px;
            padding:4px 8px;
        }
    }


    /* Data bundles */
    #products .product-circle .data-bundle-container {
        width: 150px;
        height: 150px;
    }
    #products .data-bundle-container .title {
        font-size: 17px;
        padding-top: 22px;
        margin-bottom: 0px;
    }
    #products .data-bundle-container .data-bundle {
        font-size: 35px;
    }
    #products .data-bundle-container .validity {
        font-size: 12px;
        padding-top: 0;
    }
    #products .data-bundle-container .data-bundle .data-bundle-size {
        font-size: 18px;
    }
    #products .data-bundle-container span.amount {
        font-size: 15px;
        padding: 4px 12px;
        bottom: -20px;
    }
}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

    #products .product-circle {
        margin-bottom: 20px;
    }
    #products .product-circle .special {
        top:-15px;
        left:-30px;
    }
    #products .product-circle span.amount {
        right:-50px;
        font-size: 30px;
        padding:7px 12px;
    }
    #products .product-circle .thousands {
        font-size: 17px;
    }


    #products .product-card figure{
        height:170px;
    }
    #products .product-card figure img {
        height:170px;
    }


    #products .product-card-item h2 {
        font-size: 35px;
    }
    #products .product-card-item p {
        font-size: 18px;
    }
    #products .product-card-item .details-container .six.columns {
        margin-bottom: 20px;
    }




    /* Data bundles */
    #products .three.data-bundle-item {
        float:left;
        width:50% !important;
        height: 270px;
        text-align: center;
    }

    #products .three.data-bundle-item .product-circle {
        border-width:0;
    }

    #products .three.columns {
        padding: 0;
    }

    #products .product-circle .data-bundle-container {
        width: 220px;
        height: 220px;
    }
    #products .data-bundle-container .title {
        font-size: 24px;
        padding-top: 42px;
        margin-bottom: 15px;
    }
    #products .data-bundle-container .data-bundle {
        font-size: 60px;
    }
    #products .data-bundle-container .validity {
        font-size: 15px;
        padding-top: 10px;
    }
    #products .data-bundle-container .data-bundle .data-bundle-size {
        font-size: 30px;
    }
    #products .data-bundle-container span.amount {
        font-size: 18px;
        padding: 5px 14px;
        bottom: 0px;
        right:-20px;
    }

    #products .products-block.data-bundle #data-bundles {
        padding-top: 40px;
        border-bottom: 2px solid #f7f7f7;
    }


    @media only screen and (max-width: 550px) {
        #products .three.data-bundle-item {
            float:none;
            width:auto !important;
        }
    }
}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {

    #products .products-block {
        padding:30px 0;
    }

    #products .product-circle {
        padding-bottom: 30px;
        border-bottom: 1px solid #eee;
    }
}