.section-title {
    margin-bottom: 50px;
    font-size: 16px;
    float: none;
    margin-left: 0;
}

.section-title h1 {
    text-transform: uppercase;
    font-family: $default-font-light;
    font-size: 40px;
    margin-bottom: 10px;
    color: $primary-color;
    line-height: 50px;
}

.section-text-center {
    text-align: center;
}

.section-text-small {
    padding-left: 80px;
    padding-right: 80px;
}

/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {

}

/* Tablets */
@media only screen and (max-width: 900px) {

}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

    .section-title {
        font-size: 15px;
        line-height: 18px;
    }

    .section-title h2 {
        font-size: 28px;
        line-height: 34px;
    }

    .section-text-small {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {

}