/* ------------------------------------------------------------------ */
/* Shops
/* ------------------------------------------------------------------ */

#shops-info {
    margin: 0px 0;
    padding:80px 0;
}

#shops-info h1 {

}

#shops-info p {
}

#shops-info .content {

    p.sub-text {
        font-size: 15px;

        a.find-shop {
            font-font: $default-font-light;
            text-transform: uppercase;
            font-size: 15px;
        }
    }
}

#shops-service {
    margin: 50px 0;
}

#shops-service p {
    font-family: $default-font-light;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 5px;
}

#shops {
    margin: 50px 0 20px 0;
    padding:30px 0 20px 0;
    background: #f7f7f7;
}

#shops .title {
    padding-bottom: 20px;
    margin-bottom:30px;
    background: white;
}
#shops h2 {
    font-size: 35px;
}

#shops .form-container a#user-geo-location {
    margin-bottom: 20px;
    display:block;
    font-size:20px;
    font-family: $default-font;
    position: relative;
    display: none;
    background: $primary-color;
    padding-left:55px;
    padding-top:15px;
    padding-bottom:15px;
    margin-right: 10px;
    width:50%;
    color: #FFF;
    text-decoration: none;
}
#shops .form-container a#user-geo-location:hover {
    text-decoration: none;
}
#shops .form-container a#user-geo-location span {
    margin-right:10px;
    position: absolute;
    bottom:18px;
    left:20px;
    font-size: 28px;
}
#shops .form-container p.show-search-form {
    display:none;
}

#shops .form-container form.find-shop-form {
    display:inline-block;
    width: 100%;
    margin-bottom:0;
}

#shops .form-container form.find-shop-form input {
    font-size: 17px;
    font-family: $default-font-light;
    line-height: 20px;
    background: #FFF;
    padding:20px 12px 20px 12px;
    width: 75%;
}

#shops .form-container form.find-shop-form button {
    color:#FFF;
    margin-bottom: 0;
    font-family: $default-font;
    font-size: 16px;
    text-transform: uppercase;
    padding:11px 0 16px 0;
    width: 23%;
}

#shops .form-container p {
    margin-top:20px;
}

#shops .form-container .view-all-stores {
    font-size: 18px;
}

#shops .message p {
    margin-top:20px;
    margin-left:20px;
}

#shops p {
    display:inline-block;
}

#shops .shop-container {
    background:#FFF;
    padding:15px 0 15px 0;
    margin-bottom: 20px;
    width:100%;
    float: left;
}

#shops .shop-container h3 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 0;
}

#shops .shop-container .column-title {
    color: #9d9d9d;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom:5px;
}
#shops .shop-container .shop-type{
    text-transform: uppercase;
    font-size: 18px;
}
#shops .shop-container .shop-type .circle {
    width:40px;
    height:40px;
    border-radius:50%;
    font-size:19px;
    font-family: $default-font-bold;
    color:#FFF;
    line-height:46px;
    text-align:center;
    background: #86919a;
    margin-right: 10px;
    display: inline-block;
}
#shops .shop-container .shop-type .shop {
    background: $primary-color;
}
#shops .shop-container .shop-type .kiosk {
    background: #faa61c;
}
#shops .shop-container p,
#shops .shop-container address {
    font-family: $default-font-light;
    font-style: normal;
}

#shops .shop-container a.directions {
    font-family: $default-font;
    padding:10px 15px 10px 25px;
    background: $primary-color;
    color: #fff;
    font-size: 18px;
    position: relative;
    display: block;
    width:160px;
    margin-top: 30px;
    text-decoration: none;
}
#shops .shop-container a.directions:hover {
    text-decoration: none;
}
#shops .shop-container a.directions span {
    margin-right:10px;
    position: absolute;
    top:13px;
    right:15px;
    font-size: 23px;
}

#shops .shop-container .distance {
    margin: 10px 0 0 10px;
    line-height: 20px;
    font-size: 14px;
    text-transform: uppercase;
}

#shops .unfold-shops {
    background:#FFF;
    padding:10px;
    text-align: center;
    cursor: pointer;
}

#shops .unfold-shops a {
    font-family: $default-font;
    font-size: 18px;
    color:#5eaf20;
}

#shops .unfold-shops .icon-chevron-circle-down {
    font-size: 40px;
    color:#5eaf20;
}




/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {

}

/* Tablets */
@media only screen and (max-width: 900px) {

}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

    #shops-info {
        padding:80px 0 0 0;
    }

    #shops-info .page-image-container {
        margin-bottom: 20px;
    }

    #shops-info p {
        font-size: 17px;
        line-height: 30px;
    }

    #shops {
        padding:0 0 10px 0;
    }

    #shops .title {
        padding-bottom:10px;
    }

    #shops h2 {
        font-size: 26px;
    }

    #shops .form-container a#user-geo-location,
    #shops .form-container p.show-search-form {
        display: inline-block;
    }

    #shops .form-container form.find-shop-form {
        display: none;
    }

    #shops .form-container p.view-all-stores {
        display: none;
        margin-left:20px;
    }

    #shops .form-container form.find-shop-form input {
        font-size: 20px;
        padding: 22px 30px 20px 20px;
    }
    #shops .form-container form.find-shop-form button {
        font-size: 16px;
        background: #d3d3d3;
    }

    #shops .message p {
        font-size: 16px;
    }

    #shops .shop-container h3 {
        font-size: 24px;
        margin-bottom:10px;
    }

    #shops .shop-container .column-title {
        margin-bottom: 0;
    }

    #shops .shop-container .shop-type{
        font-size: 16px;
    }

    #shops .shop-container a.directions {
        margin-bottom:10px;
    }

    #shops .shop-container p.distance {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 16px;
    }

    #shops .shop-container address,
    #shops .shop-container p {
        margin-bottom:10px;
        font-size: 18px;
    }
}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {

    #shops .form-container a#user-geo-location {
        text-align: center;
        padding:10px;
        font-size: 18px;
    }
    #shops .form-container a#user-geo-location span {
        display: none;
    }
}