/*
* Product item page
*/

.single-product #page .content-area #main {
    /* overwrite */
    max-width: 100%;
    width: 100%;
}

#main .product {
    color: #333;
    padding-bottom: 60px;
}

#main .product .padding-left {
    padding-left: 20px;
}

#main .product h1 {
    font-family: UniversL;
    font-size: 50px;
    text-transform: uppercase;
    color:#333;
    border-bottom: 1px solid #eee;
    padding-bottom:10px;
    margin-bottom: 20px;
    line-height: 55px;
}

#main .product .five img {
    width:250px;
    height:auto;
    margin:0 auto;
    margin-top:-20px;
}
#main .product .five img:hover {
    cursor: zoom-in;
}

#main .product .five ul.gallery {
    text-align: center;
}

#main .product .five ul.gallery li {
    display: inline-block;
    margin:0 6px;
    width: 100px;
    height:100px;
    border:1px solid #ddd;
    padding: 10px;
}
#main .product .five ul.gallery li:hover {
    cursor: zoom-in;
    border:2px solid #ddd;
}
#main .product .five ul.gallery li img {
    width: 80px;
    max-height:80px;
    height:auto;
    margin:0;
}
#main .product .five ul.gallery li.hidden {
    display: none;
}

#main .product .product-details-title {
    text-transform: uppercase;
    font-family: UniversL;
    font-size: 14px;
    margin-bottom: 10px;
    color: #666;
}

#main .product .seven ul.product-details {
    margin-top:0;
    margin-bottom:40px;
    width:100%;
}
#main .product .seven ul.product-details li {
    font-family: UniversL;
    padding-top:15px;
    padding-bottom:15px;
    margin:0;
}
#main .product .seven ul.product-details li.even {
    background: #f6f6f6;
}
#main .product ul.product-details li:before {
    font-family: 'icomoon';
    content: "\f00c";
    padding-right: 10px;
    color:#75b343;
}

#main .product .seven ul.product-details li a {
    display: inline;
}

#main .product .seven span.amount {
    padding-left:15px;

    .currency-symbol {
        padding-left:15px;
        font-size: 30px;
    }
}

#main .product .seven span.amount,
#main .product .seven .thousands {
    color:#333;
}

#main .product .seven .special {
    font-family: UniversL;
    font-size: 18px;
    text-transform: uppercase;
    color:#333;
    margin-top: 5px;
    margin-bottom: 30px;
}
#main .product .seven .special .gb {
    font-family: UniversR;
}

#main .product .seven .button {
    padding:15px 30px;
    font-family: UniversL;
    font-size: 28px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color:#fff;
}
#main .product .seven .button i {
    font-size: 28px;
}

#main .product .seven .overlay-buttons-container {
    .check-device,
    .check-coverage {
        font-size: 15px;
        font-family: $default-font-light;
        height:55px;
        color:$default-text-color;
        background-color: #f4f4f4;
        padding: 15px 0;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
    }

    > div {
        padding: 0;
    }

    > div:not(:first-child) {
        padding: 0 0 0 15px;
    }
}


#main .product .seven .overlay-buttons-container .check-device:before,
#main .product .seven .overlay-buttons-container .check-coverage:before {
    font-family: 'icomoon';
    font-size: 35px;
    padding-right: 10px;
    vertical-align: top;
    line-height: 22px;
    color: #666;
}
#main .product .seven .overlay-buttons-container .check-device:before {
    content: "\f10c";
}
#main .product .seven .overlay-buttons-container .check-coverage:before {
    content: "\f111";
    font-size: 25px;
}
#main .product .seven .overlay-buttons-container .check-device:hover,
#main .product .seven .overlay-buttons-container .check-coverage:hover {
    background: #eee;
}


#main .product .twelve.content {
    margin-top:50px;
}
#main .product .twelve.content h2 {
    font-family: UniversR;
    font-size: 35px;
    margin-bottom: 10px;
}
#main .product .twelve.content p {
    font-family: UniversL;
}

#main .product .twelve.content a {
    font-family: UniversR;
    font-size: 18px;
    position: relative;
    //padding-left: 30px;
}

#main .product .twelve.content a span {
    font-size:25px;
    position: absolute;
    top:0px;
    left:0;
}

/*
* Bundles
*/
#data-bundles {

}

#data-bundles .row {
    max-width: 1170px;
}

#data-bundles .header {
    background: #fbfbfb;
    text-align:center;
    padding:20px 0 10px 0;
}
#data-bundles .header .row {

}

#data-bundles .header h1 {
    font-family: UniversL;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
}

#data-bundles .header p {
    font-family: UniversL;
    font-size: 17px;
    color: #989898;
}

#data-bundles .bundles {
    background: #f7f7f7;
    text-align:center;
    padding: 20px 0 0 0;
}
/*
* Circles css in circlehoverevents.css
*/

#data-bundles .bundles .ch-grid {
    padding-bottom: 40px;
}

#data-bundles .bundles .support-container {
    background: #FFF;
    padding: 20px 10px 0 0;
}

#data-bundles .bundles .support {
    background: #FFF url(../images/helpdesk-small.png) no-repeat right 10px bottom;
    height:100px;
    margin-top: 10px;
}

#data-bundles .bundles a.all-bundles {
    font-size: 14px;
    text-transform: uppercase;
}

#data-bundles .bundles .support p {
    padding:15px 0 0 0;
    margin:0;
}
#data-bundles .bundles .support a.open-chat {
    font-size: 17px;
    display: inline;
    line-height: 40px;
}




/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {

    .product .five ul.gallery li {
        margin:0 3px;
        width: 75px;
        height:75px;
    }

    .product .seven ul.product-details li {
        font-size: 18px;
    }
}

/* Tablets */
@media only screen and (max-width: 900px) {

    #main .product .seven .overlay-buttons-container {
        .check-device,
        .check-coverage {
            font-size: 13px;
        }
    }
}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

    #main .product .seven .overlay-buttons-container {

        > div {
            width: 50% !important;
            float: left;
        }
    }

    .product h1 {
        font-size: 35px;
        line-height: 45px;
        margin-bottom:40px;
    }

    .product .five ul.gallery li {
        margin:0 6px;
        width: 100px;
        height:100px;
        overflow: hidden;
    }

    .product .twelve.content h2 {
        font-size: 26px;
    }

    .product .twelve.content p {
        font-size: 17px;
        line-height: 30px;
    }

    #data-bundles .header h1 {
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    #data-bundles .header p {
    }

    #data-bundles .bundles .column,
    #data-bundles .bundles .columns {
        padding:0;
    }

    #data-bundles .bundles .support {
        background-size: 80px 60px;
    }

    #data-bundles .bundles a.all-bundles {
        font-size: 15px;
    }

    #data-bundles .bundles .support p {
        font-size: 17px;
    }
    #data-bundles .bundles .support a {
        font-size: 17px;
    }
}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {

    #main .product .seven .overlay-buttons-container {

        > div {
            width: auto !important;
            float: none;
        }

        > div:not(:first-child) {
            padding: 0;
        }
    }

    .product .column,
    .product .columns {
        padding:0 30px;
    }

    .product .padding-left {
        padding-left:20px;
    }

    .product .five ul.gallery li {
        margin:0 3px;
        width: 80px;
        height:80px;
    }

    .product .seven ul.product-details {
        width:100%;
    }
    .product .seven ul.product-details li {
        font-size: 16px;
        line-height: 25px;
        padding-right:10px;
    }
    .product ul.product-details li:before {
        font-family: 'icomoon';
        content: "";
        padding-right: 0px;
    }

    .product .seven .button {
        padding:15px 20px 10px 20px;
        font-size: 22px;
    }
    .product .seven .button i {
        font-size: 20px;
    }
}