/* ------------------------------------------------------------------ */
/* Site navigation
/* ------------------------------------------------------------------ */
#site-nav ul, #site-nav li, #site-nav a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

#site-nav {
    font-size: 16px;
    font-weight: normal;
    width: 100%;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(255,255,255,0.8);
    border-bottom: 1px solid #EEE;
}

#site-nav .row {
    max-width: 1170px;
}

#site-nav nav.main-nav {
    height: 70px;
    width: auto;
    text-align: right;
    padding-top: 0;
}

#site-nav h1 {
    float: left;
    padding: 2px 0 0 0;
    width: 170px;
    margin-bottom: 0;
    margin-top: 10px;

    img {
        width:170px;
    }
}

#site-nav nav.main-nav .menu-mainmenu-container {
    float: right;
    //padding: 17px 0 0 0;
    height: 100%;

    #menu-mainmenu {
        height: 100%;

        > li {
            height: 100%;
            padding-top: 17px;

            &.xpress-recharge {
                background-color: $primary-color;

                &:hover {
                    background-color: #333;

                    > a {
                        border-bottom: none;
                    }
                }

                > a {
                    color: white;
                    border-bottom: none;

                    &:hover {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}

#site-nav nav.main-nav li {
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 0 10px;

    &:hover {
        .sub-menu-background,
        .sub-menu {
            display: block;
        }
    }

    &.menu-item-has-children:hover:after {
        content: "";
        position: absolute;
        top:64px;
        left:40%;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid rgba(215, 215, 215, 0.7);
    }

    .sub-menu-background {
        display: none;
        background-color: rgba(215, 215, 215, 0.7);
        position: fixed;
        left: 0;
        top: 70px;
        width: 100%;
        height: 40px;
    }

    .sub-menu {
        display: none;
        //display: block;
        position: absolute;
        left: 50%;
        top: 100%;
        height: 40px;
        @include transform(translateX(-50%));

        ul {
            text-align: left;
            white-space: nowrap;

            li {
                margin-left: 0;
                padding: 0 10px;
            }
        }

        li a {
            color: #5d6574;
            text-transform: none;
        }
        li a:hover {
            border-bottom-color: #5d6574;
        }
    }
}

#site-nav nav.main-nav li.menu-item .sub-menu-container .sub-menu .sub-menu-inner {
    width: 800px;
}

#site-nav nav.main-nav li a {
    line-height: 40px;
    text-decoration: none;
    color: $default-text-color;
    font-family: $default-font;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0px 3px 3px 3px;
    @include transition(all .1s ease-in-out);
}

#site-nav nav.main-nav li a span.icon-angle-right {
    display: none;
}

#site-nav nav.main-nav li a i {
    margin-right: 8px;
}

#site-nav nav.main-nav li.current-menu-parent > a,
#site-nav nav.main-nav li.current-page-ancestor > a,
#site-nav nav.main-nav li.current_page_item > a {
    color: $default-text-color;
    border-bottom: 2px solid #666;
    font-family: $default-font;
    text-decoration: none;
}

#site-nav nav.main-nav li.smile-menu-item a {
    border-bottom: none;
}

#site-nav nav.main-nav li.smile-menu-item a:hover {
    border-bottom: 2px solid #666;
}

#site-nav nav.main-nav li.smile-menu-item.selected_home_menu_item a.smoothscroll {
    border-bottom: 2px solid #666;
}

#site-nav nav.main-nav li:hover > a {
    color: $default-text-color;
    border-bottom: 2px solid #666;
}

/* hide toggle button */
#site-nav > .row a.mobile-btn,
#site-nav > .row button.mobile-btn {
    display: none;
}

#site-nav .shopping-basket {
    float:right;
    padding: 17px 25px 0 25px;
    //margin:0 0 0 20px;
    height:70px;

}
#site-nav .shopping-basket a {
    display: block;
    padding: 5px;
    color: black;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    font-family: $default-font;
    @include transition(all .1s ease-in-out);
}
#site-nav .shopping-basket a:hover {
    text-decoration: none;
    border-bottom: 2px solid #666;
    cursor: pointer;
}

#site-nav .shopping-basket a .icon-shopping-cart {
    font-size: 18px;
}
#site-nav .shopping-basket a .count {
    font-size: 16px;
}

#site-nav .shopping-basket a .item-label {
    font-size: 12px;
}


@media only screen and (max-width: 1200px) {
    #site-nav nav.main-nav li {
        margin-left: 10px;
    }

    //#site-nav .shopping-basket {
    //    margin:0 0 0 10px;
    //}
    //#site-nav .shopping-basket a {
    //    padding: 22px 15px 0 15px;
    //}

    #site-nav nav.main-nav li.menu-item .sub-menu-container .sub-menu .sub-menu-inner {
        width: 706px;
    }
}

@media only screen and (max-width: 1100px) {
    #site-nav nav.main-nav li {
        margin-left: 3px;
    }
    #site-nav nav.main-nav li a {
        font-size: 13px;
    }

    #site-nav nav.main-nav li.menu-item .sub-menu-container .sub-menu .sub-menu-inner {
        width: 628px;
    }
}


/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {

    #site-nav .row {
        width:100%; /* overwrite grid */
    }

    #site-nav .row .columns {
        padding: 0 0 0 20px;
    }
}

@media only screen and (max-width: 950px) {
    #site-nav nav.main-nav li {
        margin-left: 2px;
    }

    #site-nav nav.main-nav li a {
        font-size: 12px;
    }

    #site-nav .shopping-basket a {
        //padding: 22px 5px 0 5px;
        font-size: 12px;
    }
    #site-nav .shopping-basket a .item-label {
        display: none;
    }

    #site-nav nav.main-nav li.menu-item .sub-menu-container .sub-menu .sub-menu-inner {
        width: 560px;
    }
}

/* Tablets */
@media only screen and (max-width: 900px) {

    #site-nav h1 {
        margin-top:15px;
        width: 140px;
    }
}

@media only screen and (max-width: 850px) {
    #site-nav nav.main-nav li {
        margin-left: 0;
    }

    #site-nav nav.main-nav li a {
        font-size: 11px;
    }

    #site-nav .shopping-basket {
        padding: 17px 20px 0 20px;

        a {
            font-size: 11px;
        }
    }
}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

    #site-nav .twelve.columns {
        text-align: center;
    }

    #site-nav h1 {
        width: 130px;
        padding: 0;
        display: inline-block;
        margin-left: -60px;
        margin-top: 10px;
        float: none;
    }

    #site-nav > .row button.mobile-btn {
        display: block;
        padding: 14px 0 0 20px;
    }
    #site-nav > .row button.mobile-btn i {
        font-size: 23px;
        border-right: none;
    }

    #site-nav nav.main-nav {
        height: auto;
        padding-top: 0;
    }

    #site-nav nav.main-nav .menu-mainmenu-container {
        display: none;
    }

    #site-nav nav.main-nav .shopping-basket {
        border:none;
        padding:0;
        position: absolute;
        top:0;
        right:0;
    }
    #site-nav .shopping-basket a {
        padding: 16px 20px 0 20px;
        height:55px;
        width: 80px;
        text-align: center;
        font-size: 13px;
        line-height: 14px;
    }

    #site-nav ul#menu-handheld-menu {
        margin: 0px 15px 20px 15px;
        list-style: none;
    }
    #site-nav ul#menu-handheld-menu li {
        margin: 0;
        //padding: 15px 0 10px 0;
        border-bottom: 1px solid #eee;
        position: relative;

        a {
            width: 100%;
            height: 100%;
            display: block;
            //padding-left: 10px;
            padding: 15px 15px 10px 10px;
        }

        &.expand .sub-menu {
            display: block;
        }

        .sub-menu-background {
            display: none;
        }

        .sub-menu {
            display: none;
            background-color: #f4f4f4;

            li a {
                text-transform: none;
                font-size: 14px;
            }
        }
    }

    #site-nav ul#menu-handheld-menu li.current-menu-item,
    #site-nav ul#menu-handheld-menu li:hover,
    #site-nav ul#menu-handheld-menu li.current-menu-item.smile-menu-item:hover,
    #site-nav ul#menu-handheld-menu li.clicked {
        background: #f4f4f4;
        cursor: pointer;
    }

    #site-nav ul#menu-handheld-menu li.current-menu-item.smile-menu-item {
        background: none;
    }

    #site-nav ul#menu-handheld-menu li.current-menu-item.smile-menu-item.selected_home_menu_item {
        background: #f4f4f4;
    }

    #site-nav ul#menu-handheld-menu li a {
        padding-left: 10px;
    }

    #site-nav ul#menu-handheld-menu li.current_page_item.smile-menu-item a {
        line-height: 32px;
        text-decoration: none;
        color: $default-text-color;
        font-family: $default-font;
        @include transition(all .2s ease-in-out);
    }

    //#site-nav ul#menu-handheld-menu li.current_page_item.selected_home_menu_item > a,
    //#site-nav ul#menu-handheld-menu li.current_page_item.smile-menu-item > a:hover,
    //#site-nav ul#menu-handheld-menu li.current_page_parent > a,
    //#site-nav ul#menu-handheld-menu li.current_page_item > a,
    //#site-nav ul#menu-handheld-menu li > a:hover {
    #site-nav ul#menu-handheld-menu li.current-menu-parent > a,
    #site-nav ul#menu-handheld-menu li.current-page-ancestor > a,
    #site-nav ul#menu-handheld-menu li.current_page_item > a,
    #site-nav ul#menu-handheld-menu li > a:hover {
        color: $primary-color;
        font-family: $default-font;
        text-decoration: none;
    }

    #site-nav ul#menu-handheld-menu li.current_page_item.smile-menu-item a {
        color: $default-text-color;
        font-family: $default-font-light;
    }

    #site-nav ul#menu-handheld-menu li.current_page_item.smile-menu-item.selected_home_menu_item a {
        color: $primary-color;
        font-family: $default-font;
    }

    #site-nav ul#menu-handheld-menu li a span.icon-right {
        position: absolute;
        right: 10px;
        top: 19px;
    }
}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {

    #site-nav > .row button.mobile-btn {
        padding-left: 20px;
    }

    //#site-nav nav.main-nav .shopping-basket a {
    //    font-size: 16px;
    //    line-height: 15px;
    //    width:40px;
    //    display: block;
    //    text-align: left;
    //}
}