// Default
#smilevoice {
    background-color: #f7f7f7;
    padding: 50px 0;

    &.extra-margin {
        margin-top: 50px;
    }
}

#smilevoice-badges {
    background-color: #EEEEEE;
    padding: 20px 0;

    .app-store-container {
        float: right;

        .link-to-store {
            width: 202.5px;
        }
    }

    .play-store-container {
        float: left;
    }

    .link-to-store {
        height: 60px;
    }
}

.smilevoice-child {
    padding: 50px 0;

    &.ltgray {
        background-color: #f7f7f7;
    }
}

.wide.row {
    max-width: 100%;
}

.block-list.wide.row {
    max-width: 96%;
}

.smilevoice-links {
    a {
        width: 100%;

        &:hover, &:focus, &:visited, &:active {
            text-decoration: none;
        }
    }
}

.smilevoice-table-container {
    max-width: 1400px;
}

.smilevoice-table {
    border: 2px solid #eee;

    thead {
        border-bottom: solid 3px white;
    }

    tr {
        color: $default-text-color;

        &.orange {
            //background: #faa61c;
            background-color: rgba(250, 166, 28, 0.4);
        }

        &.grey {
            //background: #86919a;
            background-color: rgba(134, 145, 154, 0.4);
        }

        &.green {
            //background-color: $primary-color;
            background-color: rgba(117, 179, 67, 0.4);
        }

        &.light-green {
            //background: #b0d235;
            background-color: rgba(176, 210, 53, 0.4);
        }
    }

    td,th {
        border: 1px solid #eee;
        text-align: center;

        .currency-symbol {
            font-family: Tahoma, Arial;
            font-size: 100%;
            color: white;
            font-weight: normal;
        }
    }

    th {
        background: #87919a;
        color: white;
        font-size: 105%;
        font-family: $default-font-light;
        text-transform: none;
        padding: 0.6em 1em;


        .currency-symbol {
            padding-right: 0;
            font-size: 105%;
        }
    }

    td {
        font-size: 95%;

        .currency-symbol {
            color: $default-text-color;
        }
    }

    .responsive-header {
        display: none;
    }
}

.smilevoice-table-info * {
    font-size: 75%;
    font-family: $default-font-bold;
}

#smilevoice-country-rates {
    margin-top: 20px;

    #smilevoice-country-rates-select-container {
        display: inline-block;
        width: 40%;
        float: left;

        select {
            display: block;
            width: 100%;
            height: 50px;
            border: 1px solid #d9d9d9;
            padding-top:14px;
            @include border-radius(0px);
            @include appearance(none);

            background: $light-gray url(../images/icons/dropdown-arrow-black2.jpg) no-repeat right 3px center;
            background-size: 40px;

            option {
                font-family: $default-font-light;
                font-size: 16px;
            }

            &::-ms-expand {
                display: none;
            }
        }

        .info {
            font-size: 85%;
            margin-top: 10px;
            line-height: 1.5em;
        }
    }

    #country-rate {
        display: inline-block;
        float: left;
        width: 60%;
        padding-left: 10px;

        td,th {
            border: 1px solid #EEE;
            text-align: center;
        }

        th {
            background-color: #87919A;
            text-transform: none;
            font-size: 105%;
            color: white;
            padding: 0 1em;
            height: 50px;
        }
    }
}

#smilevoice-country-rates-title-container {
    margin: 50px 0 0 0;
}

#smilevoice-terms {
    .accordion, .accordion * {
        @include box-sizing(border-box);
    }

    .accordion {
        overflow:hidden;
        padding: 0 20px;
        margin-top: 20px;
        max-width: 1400px;
    }

    /*----- Section Titles -----*/
    .accordion-section-title {
        width:100%;
        padding:17px 15px 13px 35px;
        display:block;
        border: 2px solid #eee;
        background: rgba(0, 0, 0, 0.025);
        transition:all linear 0.15s;
        line-height: 22px;
        color:$primary-color;
        position: relative;
        font-size: 17px;
        text-align: center;
    }

    .accordion-section-title:hover {
        background:#eee;
        text-decoration:none;
    }

    .accordion-section-title.active {
        text-decoration:none;
        background:#ededed;
        border-bottom:1px solid #eee;
        color:#333;
    }

    /*----- Section Content -----*/
    .accordion-section-content {
        padding:30px;
        border: 2px solid #eee;
        border-top:0;
        display:none;
        background: white;
        text-align: left;
    }
}

/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {
    .smilevoice-table {
        display: block;
        border: none;

        tr {
            margin-bottom: 20px;
            border: 2px solid #87919a;
        }

        thead {
            display: none;
        }
        tbody, tr, td {
            display: block;
        }
        .responsive-header {
            display: inline-block;
            width: 50%;
            font-family: $default-font;
        }
        td {
            text-align: left;

            .currency-symbol {
                color: $default-text-color;
            }
        }
    }
}

/* Tablets */
@media only screen and (max-width: 900px) {
    #smilevoice-country-rates {

        #smilevoice-country-rates-select-container {
            display: block;
            width: 100%;
            float: none;
        }

        #country-rate {
            display: block;
            float: none;
            width: 100%;
            padding-left: 0;
        }

        #smilevoice-country-rates-select-container {
            .info {
                margin-bottom: 30px;
            }
        }
    }
}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

    #smilevoice-badges {

        .six.columns {
            width: 50% !important;
            float: left;
        }
    }
}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {
    #smilevoice-badges {

        .six.columns {
            width: 100% !important;
            float: none;
            @include display-flex;
            @include justify-content(center);
        }

        .app-store-container {
            float: none;
            margin-bottom: 10px;
        }

        .play-store-container {
            float: none;
        }
    }

    .smilevoice-table {

        td {
            font-size: 80%;
        }
    }
}