/* ------------------------------------------------------------------ */
/* Webcare
/* ------------------------------------------------------------------ */

#webcare-home {
    padding-top:0px;
    padding-bottom:0px;
    background: #FFF url('../images/webcare-background.jpg') 0 75px no-repeat;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    overflow: hidden;
    position:relative;
}

#webcare-home h1.section-title {
    margin-bottom: 40px;
}
#webcare-home .row {
    position: relative;
    background: transparent url('../images/webcare-helpdesk.png') right bottom no-repeat;
}

#webcare-home ul {
    padding:40px 0 5px 20px;
}

#webcare-home li {
    margin-bottom: 30px;
}

#webcare-home li a {
    padding:40px 20px 20px 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
#webcare-home li a.hover {
    text-decoration: none;
    background: rgba(20,20,20,0.1);
    padding-left:10px;
}

#webcare-home li i {
    width:60px;
    height:60px;
    border-radius:50%;
    text-align:center;
    background:#fff;
    color:$primary-color;
    padding:12px 0 0 2px;
    font-size:35px;
    display: inline-block;
}

#webcare-home li .service {
    display: inline-block;
    vertical-align: top;
    padding-top: 0px;
    margin-left: 20px;
}
#webcare-home li h2 {
    color:#fff;
    font-family: $default-font;
    font-size:16px;
    margin:0;
    line-height: 27px;
    text-transform: uppercase;
}

#webcare-home li p {
    color:#fff;
    font-family: $default-font-light;
    font-size:14px;
    font-weight: normal;
}




/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {

    #webcare-home .row {
        background: transparent url('../images/webcare-helpdesk1024.png') right bottom no-repeat;
    }

    #webcare-home li {
        margin-bottom: 10px;
    }
    #webcare-home li a {
        padding:30px 20px 20px 0px;
    }
    #webcare-home li i {
        width:50px;
        height:50px;
        padding:10px 0 0 2px;
        font-size:27px;
    }

    #webcare-home li h2 {
        font-size:18px;
        font-weight: bold;
        line-height: 33px;
    }

    #webcare-home li p {
        font-size:15px;
    }


    /* Webcare - help page */
    #webcare .block a {
        width:auto;
    }
}

/* Tablets */
@media only screen and (max-width: 900px) {

    #webcare-home .row {
        background: transparent url('../images/webcare-helpdesk900.png') right bottom no-repeat;
    }
}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

    #webcare-home {
        padding-bottom: 30px;
    }

    #webcare-home .row {
        background: none;
    }

    #webcare-home {
        padding-bottom:20px;
    }

    #webcare-home ul li {
        float: left;
        width:320px;
        margin-bottom:30px;
    }
    #webcare-home li a {
        padding:38px 20px 20px 0px;
    }
    #webcare-home li i {
        width:60px;
        height:60px;
        padding:12px 0 0 2px;
        font-size:35px;
    }

    #webcare-home li h2 {
        font-size:22px;
    }

    #webcare-home li p {
        font-size:17px;
    }

    /* Webcare - help page */
    #webcare .block {
        text-align: left;
        height: auto;
    }

    #webcare .block a {
        position: static;
        width:auto;
    }

    #webcare .right-column {
        margin-top:0px;
    }
}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {

    #webcare-home {
        background-position: 0 120px;
    }

    #webcare-home ul {
        margin-left:10px;
        padding-bottom:0;
    }

    #webcare-home ul li {
        float: none;
        width:100%;
        margin-bottom: 20px;
    }
    #webcare-home li a {
        padding:30px 20px 25px 0px;
    }

    #webcare-home li i {
        width:50px;
        height:50px;
        padding:10px 0 0 2px;
        font-size:30px;
    }

    #webcare-home li h2 {
        font-size:18px;
    }

    #webcare-home li p {
        font-size:17px;
    }
}