/* ------------------------------------------------------------------ */
/* Centering
/* ------------------------------------------------------------------ */

.window-overlay.window-open {
    @include display-flex;
}

.open-window-overlay {
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.window-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1500;
    @include justify-content(center);
    @include align-items(center);
    overflow-y: auto;
    display: none;
}

.window-overlay-content {
    background-color: white;
    width: 750px;
    height: auto;
    //margin: 100px 50px;
    overflow: hidden;
    @include border-radius(3px);
    position: absolute;
    top: 0;
    z-index: 1501;
    display: none;

    .close-window-overlay {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        cursor: pointer;
        z-index: 100;
        background-color: rgba(255,255,255,0.8);
        @include border-radius(3px);
    }
}

.window-overlay-content.window-overlay-fill-screen {
    top:5%;
    left:5%;
    width:90%;
    height:90%;
    margin: 0;

    .close-window-overlay {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        cursor: pointer;
        z-index: 100;
        background-color: rgba(255,255,255,0.8);
        @include border-radius(3px);
    }
}

.window-overlay-content.window-overlay-centered-in-screen {
    top:20%;
    left:25%;
    width:40%;
    height:40%;
    margin: 0;
}

.window-overlay-content {

    #overlay-devices-list {
        padding: 30px;

        h2 {
            margin: 0 0 0 0;
            text-align: center;
            color: $default-text-color;
            font-size: 28px;
            text-transform: uppercase;
        }

        p {
            font-size: 15px;
        }

        .subtitle {
            margin: 0 0 10px;
            text-align: center;
        }

        .devices-list {
            list-style: disc inside none;
        }

        .devices-select-container.centered {
            text-align: center;
        }
        .devices-select-container {
            margin: 0;
            width: 100%;
            border-top: 1px solid #eee;
            padding-top: 35px;
            padding-bottom: 50px;

            > p {
                text-transform: uppercase;
                margin: 0 0 10px 0;
            }

            > div:nth-of-type(1) {
                padding: 0;
            }

            > div:nth-of-type(2) {
                padding: 0 0 0 5px;
            }

            > div:nth-of-type(3) {
                padding: 0 0 0 10px;
            }

            select {
                margin: 0;
                width:230px;
                display: inline;
            }

            select#deviceBrand {
                width: 200px;
            }

            select#devicesByBrand {
                width: 300px;
            }

            .check-container {
                color: $primary-color;
                font-size: 30px;
                display: inline;
                position: relative;
                display: none;

                p {
                    display: none;
                }

                .icon-check {
                    position: absolute;
                    top:0;
                    left:10px;
                }
            }

            .button {
                @include display-flex;
                font: 16px $default-font-light;
                width: 100%;
                height: 50px;
                padding: 0;
                margin: 0;
                text-align: center;
                text-transform: uppercase;
                @include align-items(center);
                @include justify-content(center);
            }
        }

        .devices-list-contact {
            display: none;
        }

        .device-not-found {
            cursor: pointer;
            display: block;
            text-align: center;
            color: $secondary-color;
            text-decoration: underline;

            > .help {
                font-family: $default-font-bold;
                text-transform: uppercase;
            }
        }
    }

    #coverage-map {
        min-height: 100%;
    }

    #fullscreen-loader {
        position: absolute;
    }

    .recharge-error-popup {
        padding: 50px;
    }
}

/* Medium Screen/Large Tablets */
@media only screen and (max-width: 1024px) {
    .window-overlay-content.window-overlay-centered-in-screen {
        top:20%;
        left:15%;
        width:70%;
        height:50%;
        margin: 0;
    }
}

/* Tablets */
@media only screen and (max-width: 900px) {

}

/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {

    .window-overlay-content {
        //margin: 20px 10px;
        width: 95%;
    }

    .window-overlay-content #overlay-devices-list .devices-select-container {

        > div:not(:first-of-type) {
            padding: 0;
            margin-top: 10px;
        }

        select {
            margin: 0 0 10px 0;
            width: 100%;
        }

        select#deviceBrand {
            width: 100%;
        }

        select#devicesByBrand {
            width: 100%;
        }

        .check-container {
            display: block;

            .icon-check {
                display: none;
            }

            p {

                margin-top: 10px;
                font-size: 17px;
                color: $primary-color;
            }

            p .icon-check {
                position: static;
                padding-right: 10px;
                display: inline;
            }
        }
    }

    .window-overlay-content.window-overlay-centered-in-screen {
        top:5%;
        left:5%;
        width:90%;
        height:60%;
        margin: 0;

        .recharge-error-popup {
            padding: 30px;
        }
    }

}

/* Small Screen Mobile */
@media only screen and (max-width: 480px) {

}