// Colors
$primary-color: #75b343;
$secondary-color: #F39F1C;
$default-text-color: #333;
$light-gray: #f6f6f6;
$gray-hover: #f3f3f3;

//Font
$default-font: 'UniversR';
$default-font-light: 'UniversL';
$default-font-bold: 'UniversB';
$default-icon-font: 'icomoon';
$default-text-size: '17px';