@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?nz6rlk');
	src:url('fonts/icomoon.eot?nz6rlk#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?nz6rlk') format('truetype'),
		url('fonts/icomoon.woff?nz6rlk') format('woff'),
		url('fonts/icomoon.svg?nz6rlk#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-glass:before {
	content: "\f000";
}
.icon-music:before {
	content: "\f001";
}
.icon-search:before {
	content: "\f002";
}
.icon-envelope-o:before {
	content: "\f003";
}
.icon-heart:before {
	content: "\f004";
}
.icon-star:before {
	content: "\f005";
}
.icon-star-o:before {
	content: "\f006";
}
.icon-user2:before {
	content: "\f007";
}
.icon-film:before {
	content: "\f008";
}
.icon-th-large:before {
	content: "\f009";
}
.icon-th:before {
	content: "\f00a";
}
.icon-th-list:before {
	content: "\f00b";
}
.icon-check2:before {
	content: "\f00e";
}
.icon-close2:before {
	content: "\f00f";
}
.icon-remove2:before {
	content: "\f00f";
}
.icon-times2:before {
	content: "\f00f";
}
.icon-search-plus:before {
	content: "\f010";
}
.icon-search-minus:before {
	content: "\f011";
}
.icon-power-off:before {
	content: "\f012";
}
.icon-signal:before {
	content: "\f013";
}
.icon-cog2:before {
	content: "\f014";
}
.icon-gear:before {
	content: "\f014";
}
.icon-trash-o:before {
	content: "\f015";
}
.icon-home:before {
	content: "\f016";
}
.icon-file-o:before {
	content: "\f017";
}
.icon-clock-o:before {
	content: "\f018";
}
.icon-road:before {
	content: "\f019";
}
.icon-download:before {
	content: "\f01a";
}
.icon-arrow-circle-o-down2:before {
	content: "\f01b";
}
.icon-arrow-circle-o-up2:before {
	content: "\f01c";
}
.icon-inbox:before {
	content: "\f01d";
}
.icon-play-circle-o:before {
	content: "\f01e";
}
.icon-repeat:before {
	content: "\f01f";
}
.icon-rotate-right:before {
	content: "\f01f";
}
.icon-refresh:before {
	content: "\f021";
}
.icon-list-alt:before {
	content: "\f022";
}
.icon-lock2:before {
	content: "\f024";
}
.icon-flag:before {
	content: "\f025";
}
.icon-headphones:before {
	content: "\f026";
}
.icon-volume-off:before {
	content: "\f027";
}
.icon-volume-down:before {
	content: "\f028";
}
.icon-volume-up:before {
	content: "\f029";
}
.icon-qrcode:before {
	content: "\f02a";
}
.icon-barcode:before {
	content: "\f02b";
}
.icon-tag:before {
	content: "\f02c";
}
.icon-tags:before {
	content: "\f02d";
}
.icon-book:before {
	content: "\f02e";
}
.icon-bookmark:before {
	content: "\f02f";
}
.icon-print:before {
	content: "\f030";
}
.icon-camera:before {
	content: "\f031";
}
.icon-font:before {
	content: "\f032";
}
.icon-bold:before {
	content: "\f033";
}
.icon-italic:before {
	content: "\f034";
}
.icon-text-height:before {
	content: "\f035";
}
.icon-text-width:before {
	content: "\f036";
}
.icon-align-left:before {
	content: "\f037";
}
.icon-align-center:before {
	content: "\f038";
}
.icon-align-right:before {
	content: "\f039";
}
.icon-align-justify:before {
	content: "\f03a";
}
.icon-list:before {
	content: "\f03b";
}
.icon-dedent:before {
	content: "\f03c";
}
.icon-outdent:before {
	content: "\f03c";
}
.icon-indent:before {
	content: "\f03d";
}
.icon-video-camera:before {
	content: "\f03e";
}
.icon-image:before {
	content: "\f03f";
}
.icon-photo:before {
	content: "\f03f";
}
.icon-picture-o:before {
	content: "\f03f";
}
.icon-pencil:before {
	content: "\f040";
}
.icon-map-marker2:before {
	content: "\f041";
}
.icon-adjust:before {
	content: "\f042";
}
.icon-tint:before {
	content: "\f043";
}
.icon-edit:before {
	content: "\f044";
}
.icon-pencil-square-o:before {
	content: "\f044";
}
.icon-share-square-o:before {
	content: "\f045";
}
.icon-check-square-o:before {
	content: "\f046";
}
.icon-arrows:before {
	content: "\f047";
}
.icon-step-backward:before {
	content: "\f048";
}
.icon-fast-backward:before {
	content: "\f049";
}
.icon-backward:before {
	content: "\f04a";
}
.icon-play:before {
	content: "\f04b";
}
.icon-pause:before {
	content: "\f04c";
}
.icon-stop:before {
	content: "\f04d";
}
.icon-forward:before {
	content: "\f04e";
}
.icon-fast-forward:before {
	content: "\f050";
}
.icon-step-forward:before {
	content: "\f051";
}
.icon-eject:before {
	content: "\f052";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-plus-circle2:before {
	content: "\f055";
}
.icon-minus-circle:before {
	content: "\f056";
}
.icon-times-circle:before {
	content: "\f057";
}
.icon-check-circle:before {
	content: "\f058";
}
.icon-question-circle:before {
	content: "\f059";
}
.icon-info-circle:before {
	content: "\f05a";
}
.icon-crosshairs:before {
	content: "\f05b";
}
.icon-times-circle-o:before {
	content: "\f05c";
}
.icon-check-circle-o:before {
	content: "\f05d";
}
.icon-ban:before {
	content: "\f05e";
}
.icon-arrow-left3:before {
	content: "\f061";
}
.icon-arrow-right:before {
	content: "\f062";
}
.icon-arrow-up:before {
	content: "\f063";
}
.icon-arrow-down:before {
	content: "\f064";
}
.icon-mail-forward:before {
	content: "\f065";
}
.icon-share:before {
	content: "\f065";
}
.icon-expand:before {
	content: "\f066";
}
.icon-compress:before {
	content: "\f067";
}
.icon-plus:before {
	content: "\f068";
}
.icon-minus:before {
	content: "\f069";
}
.icon-asterisk:before {
	content: "\f06a";
}
.icon-exclamation-circle:before {
	content: "\f06b";
}
.icon-gift:before {
	content: "\f06c";
}
.icon-leaf:before {
	content: "\f06d";
}
.icon-fire:before {
	content: "\f06e";
}
.icon-eye:before {
	content: "\f06f";
}
.icon-eye-slash:before {
	content: "\f070";
}
.icon-exclamation-triangle:before {
	content: "\f071";
}
.icon-warning:before {
	content: "\f071";
}
.icon-plane:before {
	content: "\f072";
}
.icon-calendar:before {
	content: "\f073";
}
.icon-random:before {
	content: "\f074";
}
.icon-comment:before {
	content: "\f075";
}
.icon-magnet:before {
	content: "\f076";
}
.icon-chevron-up:before {
	content: "\f077";
}
.icon-chevron-down:before {
	content: "\f078";
}
.icon-retweet:before {
	content: "\f079";
}
.icon-shopping-cart2:before {
	content: "\f07b";
}
.icon-folder:before {
	content: "\f07c";
}
.icon-folder-open:before {
	content: "\f07d";
}
.icon-arrows-v:before {
	content: "\f07e";
}
.icon-arrows-h:before {
	content: "\f07f";
}
.icon-bar-chart2:before {
	content: "\f081";
}
.icon-bar-chart-o2:before {
	content: "\f081";
}
.icon-twitter-square:before {
	content: "\f082";
}
.icon-facebook-square:before {
	content: "\f083";
}
.icon-camera-retro:before {
	content: "\f084";
}
.icon-key:before {
	content: "\f085";
}
.icon-cogs2:before {
	content: "\f086";
}
.icon-gears:before {
	content: "\f086";
}
.icon-comments:before {
	content: "\f087";
}
.icon-thumbs-o-up:before {
	content: "\f088";
}
.icon-thumbs-o-down:before {
	content: "\f089";
}
.icon-star-half:before {
	content: "\f08a";
}
.icon-heart-o:before {
	content: "\f08b";
}
.icon-sign-out:before {
	content: "\f08c";
}
.icon-linkedin-square:before {
	content: "\f08d";
}
.icon-thumb-tack:before {
	content: "\f08e";
}
.icon-external-link:before {
	content: "\f08f";
}
.icon-sign-in:before {
	content: "\f090";
}
.icon-trophy:before {
	content: "\f091";
}
.icon-github-square:before {
	content: "\f092";
}
.icon-upload:before {
	content: "\f093";
}
.icon-lemon-o:before {
	content: "\f094";
}
.icon-phone2:before {
	content: "\f095";
}
.icon-square-o:before {
	content: "\f096";
}
.icon-bookmark-o:before {
	content: "\f097";
}
.icon-phone-square:before {
	content: "\f098";
}
.icon-twitter4:before {
	content: "\f09b";
}
.icon-facebook2:before {
	content: "\f09c";
}
.icon-facebook-f2:before {
	content: "\f09c";
}
.icon-github:before {
	content: "\f09d";
}
.icon-unlock:before {
	content: "\f09e";
}
.icon-credit-card:before {
	content: "\f09f";
}
.icon-feed:before {
	content: "\f0a0";
}
.icon-rss:before {
	content: "\f0a0";
}
.icon-hdd-o:before {
	content: "\f0a1";
}
.icon-bullhorn:before {
	content: "\f0a2";
}
.icon-bell-o:before {
	content: "\f0a3";
}
.icon-certificate:before {
	content: "\f0a4";
}
.icon-hand-o-right:before {
	content: "\f0a5";
}
.icon-hand-o-left:before {
	content: "\f0a6";
}
.icon-hand-o-up:before {
	content: "\f0a7";
}
.icon-hand-o-down:before {
	content: "\f0a8";
}
.icon-arrow-circle-left:before {
	content: "\f0a9";
}
.icon-arrow-circle-right:before {
	content: "\f0aa";
}
.icon-arrow-circle-up:before {
	content: "\f0ab";
}
.icon-arrow-circle-down:before {
	content: "\f0ac";
}
.icon-globe:before {
	content: "\f0ad";
}
.icon-wrench:before {
	content: "\f0ae";
}
.icon-tasks:before {
	content: "\f0af";
}
.icon-filter:before {
	content: "\f0b0";
}
.icon-briefcase:before {
	content: "\f0b1";
}
.icon-arrows-alt:before {
	content: "\f0b2";
}
.icon-group:before {
	content: "\f0c0";
}
.icon-users:before {
	content: "\f0c0";
}
.icon-chain:before {
	content: "\f0c1";
}
.icon-link:before {
	content: "\f0c1";
}
.icon-cloud:before {
	content: "\f0c2";
}
.icon-flask:before {
	content: "\f0c3";
}
.icon-cut:before {
	content: "\f0c4";
}
.icon-scissors:before {
	content: "\f0c4";
}
.icon-copy:before {
	content: "\f0c5";
}
.icon-files-o:before {
	content: "\f0c5";
}
.icon-paperclip:before {
	content: "\f0c6";
}
.icon-floppy-o:before {
	content: "\f0c7";
}
.icon-save:before {
	content: "\f0c7";
}
.icon-square:before {
	content: "\f0c8";
}
.icon-bars2:before {
	content: "\f0ca";
}
.icon-navicon2:before {
	content: "\f0ca";
}
.icon-reorder2:before {
	content: "\f0ca";
}
.icon-list-ul:before {
	content: "\f0cb";
}
.icon-list-ol:before {
	content: "\f0cc";
}
.icon-strikethrough:before {
	content: "\f0cd";
}
.icon-underline:before {
	content: "\f0ce";
}
.icon-table:before {
	content: "\f0cf";
}
.icon-magic:before {
	content: "\f0d0";
}
.icon-truck:before {
	content: "\f0d1";
}
.icon-pinterest:before {
	content: "\f0d2";
}
.icon-pinterest-square:before {
	content: "\f0d3";
}
.icon-google-plus-square:before {
	content: "\f0d4";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-money:before {
	content: "\f0d6";
}
.icon-caret-down:before {
	content: "\f0d7";
}
.icon-caret-up:before {
	content: "\f0d8";
}
.icon-caret-left2:before {
	content: "\f0da";
}
.icon-caret-right:before {
	content: "\f0db";
}
.icon-columns:before {
	content: "\f0dc";
}
.icon-sort:before {
	content: "\f0dd";
}
.icon-unsorted:before {
	content: "\f0dd";
}
.icon-sort-desc:before {
	content: "\f0de";
}
.icon-sort-down:before {
	content: "\f0de";
}
.icon-sort-asc:before {
	content: "\f0df";
}
.icon-sort-up:before {
	content: "\f0df";
}
.icon-envelope:before {
	content: "\f0e0";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-rotate-left:before {
	content: "\f0e2";
}
.icon-undo:before {
	content: "\f0e2";
}
.icon-gavel:before {
	content: "\f0e3";
}
.icon-legal:before {
	content: "\f0e3";
}
.icon-dashboard:before {
	content: "\f0e4";
}
.icon-tachometer:before {
	content: "\f0e4";
}
.icon-comment-o2:before {
	content: "\f0e6";
}
.icon-comments-o:before {
	content: "\f0e7";
}
.icon-bolt:before {
	content: "\f0e8";
}
.icon-flash:before {
	content: "\f0e8";
}
.icon-sitemap:before {
	content: "\f0e9";
}
.icon-umbrella:before {
	content: "\f0ea";
}
.icon-clipboard:before {
	content: "\f0eb";
}
.icon-paste:before {
	content: "\f0eb";
}
.icon-lightbulb-o:before {
	content: "\f0ec";
}
.icon-exchange:before {
	content: "\f0ed";
}
.icon-cloud-download:before {
	content: "\f0ee";
}
.icon-cloud-upload:before {
	content: "\f0ef";
}
.icon-user-md:before {
	content: "\f0f0";
}
.icon-stethoscope:before {
	content: "\f0f1";
}
.icon-suitcase:before {
	content: "\f0f2";
}
.icon-bell:before {
	content: "\f0f3";
}
.icon-coffee:before {
	content: "\f0f4";
}
.icon-cutlery:before {
	content: "\f0f5";
}
.icon-file-text-o:before {
	content: "\f0f6";
}
.icon-building-o:before {
	content: "\f0f7";
}
.icon-hospital-o:before {
	content: "\f0f8";
}
.icon-ambulance:before {
	content: "\f0f9";
}
.icon-medkit:before {
	content: "\f0fa";
}
.icon-fighter-jet:before {
	content: "\f0fb";
}
.icon-beer:before {
	content: "\f0fc";
}
.icon-h-square:before {
	content: "\f0fd";
}
.icon-plus-square:before {
	content: "\f0fe";
}
.icon-angle-double-left:before {
	content: "\f100";
}
.icon-angle-double-right:before {
	content: "\f101";
}
.icon-angle-double-up:before {
	content: "\f102";
}
.icon-angle-double-down:before {
	content: "\f103";
}
.icon-angle-left3:before {
	content: "\f105";
}
.icon-angle-right2:before {
	content: "\f106";
}
.icon-angle-up2:before {
	content: "\f107";
}
.icon-angle-down2:before {
	content: "\f108";
}
.icon-desktop:before {
	content: "\f109";
}
.icon-laptop:before {
	content: "\f10a";
}
.icon-tablet:before {
	content: "\f10b";
}
.icon-mobile:before {
	content: "\f10c";
}
.icon-mobile-phone:before {
	content: "\f10c";
}
.icon-circle-o:before {
	content: "\f10d";
}
.icon-quote-left:before {
	content: "\f10e";
}
.icon-quote-right:before {
	content: "\f10f";
}
.icon-spinner:before {
	content: "\f110";
}
.icon-circle:before {
	content: "\f111";
}
.icon-mail-reply:before {
	content: "\f112";
}
.icon-reply:before {
	content: "\f112";
}
.icon-github-alt:before {
	content: "\f113";
}
.icon-folder-o:before {
	content: "\f114";
}
.icon-folder-open-o:before {
	content: "\f115";
}
.icon-smile-o:before {
	content: "\f118";
}
.icon-frown-o:before {
	content: "\f119";
}
.icon-meh-o:before {
	content: "\f11a";
}
.icon-gamepad:before {
	content: "\f11b";
}
.icon-keyboard-o:before {
	content: "\f11c";
}
.icon-flag-o:before {
	content: "\f11d";
}
.icon-flag-checkered:before {
	content: "\f11e";
}
.icon-terminal:before {
	content: "\f120";
}
.icon-code:before {
	content: "\f121";
}
.icon-mail-reply-all:before {
	content: "\f122";
}
.icon-reply-all:before {
	content: "\f122";
}
.icon-star-half-empty:before {
	content: "\f123";
}
.icon-star-half-full:before {
	content: "\f123";
}
.icon-star-half-o:before {
	content: "\f123";
}
.icon-location-arrow:before {
	content: "\f124";
}
.icon-crop:before {
	content: "\f125";
}
.icon-code-fork:before {
	content: "\f126";
}
.icon-chain-broken:before {
	content: "\f127";
}
.icon-unlink:before {
	content: "\f127";
}
.icon-question:before {
	content: "\f128";
}
.icon-info:before {
	content: "\f129";
}
.icon-exclamation:before {
	content: "\f12a";
}
.icon-superscript:before {
	content: "\f12b";
}
.icon-subscript:before {
	content: "\f12c";
}
.icon-eraser:before {
	content: "\f12d";
}
.icon-puzzle-piece:before {
	content: "\f12e";
}
.icon-microphone:before {
	content: "\f130";
}
.icon-microphone-slash:before {
	content: "\f131";
}
.icon-shield:before {
	content: "\f132";
}
.icon-calendar-o:before {
	content: "\f133";
}
.icon-fire-extinguisher:before {
	content: "\f134";
}
.icon-rocket2:before {
	content: "\f136";
}
.icon-maxcdn:before {
	content: "\f137";
}
.icon-chevron-circle-left2:before {
	content: "\f138";
}
.icon-chevron-circle-right2:before {
	content: "\f139";
}
.icon-chevron-circle-up2:before {
	content: "\f13a";
}
.icon-chevron-circle-down2:before {
	content: "\f13b";
}
.icon-html5:before {
	content: "\f13c";
}
.icon-css3:before {
	content: "\f13d";
}
.icon-anchor:before {
	content: "\f13e";
}
.icon-unlock-alt:before {
	content: "\f13f";
}
.icon-bullseye:before {
	content: "\f140";
}
.icon-ellipsis-h:before {
	content: "\f141";
}
.icon-ellipsis-v:before {
	content: "\f142";
}
.icon-rss-square:before {
	content: "\f143";
}
.icon-play-circle:before {
	content: "\f144";
}
.icon-ticket:before {
	content: "\f145";
}
.icon-minus-square:before {
	content: "\f146";
}
.icon-minus-square-o:before {
	content: "\f147";
}
.icon-level-up:before {
	content: "\f148";
}
.icon-level-down:before {
	content: "\f149";
}
.icon-check-square:before {
	content: "\f14a";
}
.icon-pencil-square:before {
	content: "\f14b";
}
.icon-external-link-square:before {
	content: "\f14c";
}
.icon-share-square:before {
	content: "\f14d";
}
.icon-compass:before {
	content: "\f14e";
}
.icon-caret-square-o-down:before {
	content: "\f150";
}
.icon-toggle-down:before {
	content: "\f150";
}
.icon-caret-square-o-up:before {
	content: "\f151";
}
.icon-toggle-up:before {
	content: "\f151";
}
.icon-caret-square-o-right:before {
	content: "\f152";
}
.icon-toggle-right:before {
	content: "\f152";
}
.icon-eur:before {
	content: "\f153";
}
.icon-euro:before {
	content: "\f153";
}
.icon-gbp:before {
	content: "\f154";
}
.icon-dollar:before {
	content: "\f155";
}
.icon-usd:before {
	content: "\f155";
}
.icon-inr:before {
	content: "\f156";
}
.icon-rupee:before {
	content: "\f156";
}
.icon-cny:before {
	content: "\f157";
}
.icon-jpy:before {
	content: "\f157";
}
.icon-rmb:before {
	content: "\f157";
}
.icon-yen:before {
	content: "\f157";
}
.icon-rouble:before {
	content: "\f158";
}
.icon-rub:before {
	content: "\f158";
}
.icon-ruble:before {
	content: "\f158";
}
.icon-krw:before {
	content: "\f159";
}
.icon-won:before {
	content: "\f159";
}
.icon-bitcoin:before {
	content: "\f15a";
}
.icon-btc:before {
	content: "\f15a";
}
.icon-file:before {
	content: "\f15b";
}
.icon-file-text:before {
	content: "\f15c";
}
.icon-sort-alpha-asc:before {
	content: "\f15d";
}
.icon-sort-alpha-desc:before {
	content: "\f15e";
}
.icon-sort-amount-asc:before {
	content: "\f160";
}
.icon-sort-amount-desc:before {
	content: "\f161";
}
.icon-sort-numeric-asc:before {
	content: "\f162";
}
.icon-sort-numeric-desc:before {
	content: "\f163";
}
.icon-thumbs-up:before {
	content: "\f164";
}
.icon-thumbs-down:before {
	content: "\f165";
}
.icon-youtube-square:before {
	content: "\f166";
}
.icon-youtube:before {
	content: "\f167";
}
.icon-xing:before {
	content: "\f168";
}
.icon-xing-square:before {
	content: "\f169";
}
.icon-youtube-play2:before {
	content: "\f16b";
}
.icon-dropbox:before {
	content: "\f16c";
}
.icon-stack-overflow:before {
	content: "\f16e";
}
.icon-instagram2:before {
	content: "\f16f";
}
.icon-flickr:before {
	content: "\f170";
}
.icon-adn:before {
	content: "\f171";
}
.icon-bitbucket:before {
	content: "\f172";
}
.icon-bitbucket-square:before {
	content: "\f173";
}
.icon-tumblr:before {
	content: "\f174";
}
.icon-tumblr-square:before {
	content: "\f175";
}
.icon-long-arrow-down:before {
	content: "\f176";
}
.icon-long-arrow-up:before {
	content: "\f177";
}
.icon-long-arrow-left:before {
	content: "\f178";
}
.icon-long-arrow-right:before {
	content: "\f179";
}
.icon-apple:before {
	content: "\f17a";
}
.icon-windows:before {
	content: "\f17b";
}
.icon-android:before {
	content: "\f17c";
}
.icon-linux:before {
	content: "\f17d";
}
.icon-dribbble:before {
	content: "\f17e";
}
.icon-skype2:before {
	content: "\f17f";
}
.icon-foursquare:before {
	content: "\f180";
}
.icon-trello:before {
	content: "\f181";
}
.icon-female:before {
	content: "\f182";
}
.icon-male:before {
	content: "\f183";
}
.icon-gittip:before {
	content: "\f184";
}
.icon-gratipay:before {
	content: "\f184";
}
.icon-sun-o:before {
	content: "\f185";
}
.icon-moon-o:before {
	content: "\f186";
}
.icon-archive:before {
	content: "\f187";
}
.icon-bug:before {
	content: "\f188";
}
.icon-vk:before {
	content: "\f189";
}
.icon-weibo:before {
	content: "\f18a";
}
.icon-renren:before {
	content: "\f18b";
}
.icon-pagelines:before {
	content: "\f18c";
}
.icon-stack-exchange:before {
	content: "\f18d";
}
.icon-arrow-circle-o-right2:before {
	content: "\f18e";
}
.icon-arrow-circle-o-left2:before {
	content: "\f190";
}
.icon-caret-square-o-left:before {
	content: "\f191";
}
.icon-toggle-left:before {
	content: "\f191";
}
.icon-dot-circle-o:before {
	content: "\f192";
}
.icon-wheelchair:before {
	content: "\f193";
}
.icon-vimeo-square:before {
	content: "\f194";
}
.icon-try:before {
	content: "\f195";
}
.icon-turkish-lira:before {
	content: "\f195";
}
.icon-plus-square-o:before {
	content: "\f196";
}
.icon-space-shuttle:before {
	content: "\f197";
}
.icon-slack:before {
	content: "\f198";
}
.icon-envelope-square:before {
	content: "\f199";
}
.icon-wordpress:before {
	content: "\f19a";
}
.icon-openid:before {
	content: "\f19b";
}
.icon-bank:before {
	content: "\f19c";
}
.icon-institution:before {
	content: "\f19c";
}
.icon-university:before {
	content: "\f19c";
}
.icon-graduation-cap:before {
	content: "\f19d";
}
.icon-mortar-board:before {
	content: "\f19d";
}
.icon-yahoo:before {
	content: "\f19e";
}
.icon-google:before {
	content: "\f1a0";
}
.icon-reddit:before {
	content: "\f1a1";
}
.icon-reddit-square:before {
	content: "\f1a2";
}
.icon-stumbleupon-circle:before {
	content: "\f1a3";
}
.icon-stumbleupon:before {
	content: "\f1a4";
}
.icon-delicious:before {
	content: "\f1a5";
}
.icon-digg:before {
	content: "\f1a6";
}
.icon-pied-piper:before {
	content: "\f1a7";
}
.icon-pied-piper-alt:before {
	content: "\f1a8";
}
.icon-drupal:before {
	content: "\f1a9";
}
.icon-joomla:before {
	content: "\f1aa";
}
.icon-language:before {
	content: "\f1ab";
}
.icon-fax:before {
	content: "\f1ac";
}
.icon-building:before {
	content: "\f1ad";
}
.icon-child:before {
	content: "\f1ae";
}
.icon-paw:before {
	content: "\f1b0";
}
.icon-spoon:before {
	content: "\f1b1";
}
.icon-cube:before {
	content: "\f1b2";
}
.icon-cubes:before {
	content: "\f1b3";
}
.icon-behance:before {
	content: "\f1b4";
}
.icon-behance-square:before {
	content: "\f1b5";
}
.icon-steam:before {
	content: "\f1b6";
}
.icon-steam-square:before {
	content: "\f1b7";
}
.icon-recycle:before {
	content: "\f1b8";
}
.icon-automobile:before {
	content: "\f1b9";
}
.icon-car:before {
	content: "\f1b9";
}
.icon-cab:before {
	content: "\f1ba";
}
.icon-taxi:before {
	content: "\f1ba";
}
.icon-tree:before {
	content: "\f1bb";
}
.icon-spotify:before {
	content: "\f1bc";
}
.icon-deviantart:before {
	content: "\f1bd";
}
.icon-soundcloud:before {
	content: "\f1be";
}
.icon-database:before {
	content: "\f1c0";
}
.icon-file-pdf-o:before {
	content: "\f1c1";
}
.icon-file-word-o:before {
	content: "\f1c2";
}
.icon-file-excel-o:before {
	content: "\f1c3";
}
.icon-file-powerpoint-o:before {
	content: "\f1c4";
}
.icon-file-image-o:before {
	content: "\f1c5";
}
.icon-file-photo-o:before {
	content: "\f1c5";
}
.icon-file-picture-o:before {
	content: "\f1c5";
}
.icon-file-archive-o:before {
	content: "\f1c6";
}
.icon-file-zip-o:before {
	content: "\f1c6";
}
.icon-file-audio-o:before {
	content: "\f1c7";
}
.icon-file-sound-o:before {
	content: "\f1c7";
}
.icon-file-movie-o:before {
	content: "\f1c8";
}
.icon-file-video-o:before {
	content: "\f1c8";
}
.icon-file-code-o:before {
	content: "\f1c9";
}
.icon-vine2:before {
	content: "\f1cb";
}
.icon-codepen:before {
	content: "\f1cc";
}
.icon-jsfiddle:before {
	content: "\f1cd";
}
.icon-life-bouy:before {
	content: "\f1ce";
}
.icon-life-buoy:before {
	content: "\f1ce";
}
.icon-life-ring:before {
	content: "\f1ce";
}
.icon-life-saver:before {
	content: "\f1ce";
}
.icon-support:before {
	content: "\f1ce";
}
.icon-circle-o-notch:before {
	content: "\f1cf";
}
.icon-ra:before {
	content: "\f1d0";
}
.icon-rebel:before {
	content: "\f1d0";
}
.icon-empire:before {
	content: "\f1d1";
}
.icon-ge:before {
	content: "\f1d1";
}
.icon-git-square:before {
	content: "\f1d2";
}
.icon-git:before {
	content: "\f1d3";
}
.icon-hacker-news:before {
	content: "\f1d4";
}
.icon-y-combinator-square:before {
	content: "\f1d4";
}
.icon-yc-square:before {
	content: "\f1d4";
}
.icon-tencent-weibo:before {
	content: "\f1d5";
}
.icon-qq:before {
	content: "\f1d6";
}
.icon-wechat:before {
	content: "\f1d7";
}
.icon-weixin:before {
	content: "\f1d7";
}
.icon-paper-plane:before {
	content: "\f1d8";
}
.icon-send:before {
	content: "\f1d8";
}
.icon-paper-plane-o:before {
	content: "\f1d9";
}
.icon-send-o:before {
	content: "\f1d9";
}
.icon-history:before {
	content: "\f1da";
}
.icon-circle-thin:before {
	content: "\f1db";
}
.icon-header:before {
	content: "\f1dc";
}
.icon-paragraph:before {
	content: "\f1dd";
}
.icon-sliders:before {
	content: "\f1de";
}
.icon-share-alt:before {
	content: "\f1e0";
}
.icon-share-alt-square:before {
	content: "\f1e1";
}
.icon-bomb:before {
	content: "\f1e2";
}
.icon-futbol-o:before {
	content: "\f1e3";
}
.icon-soccer-ball-o:before {
	content: "\f1e3";
}
.icon-tty:before {
	content: "\f1e4";
}
.icon-binoculars:before {
	content: "\f1e5";
}
.icon-plug:before {
	content: "\f1e6";
}
.icon-slideshare:before {
	content: "\f1e7";
}
.icon-twitch:before {
	content: "\f1e8";
}
.icon-yelp:before {
	content: "\f1e9";
}
.icon-newspaper-o:before {
	content: "\f1ea";
}
.icon-wifi:before {
	content: "\f1eb";
}
.icon-calculator:before {
	content: "\f1ec";
}
.icon-paypal:before {
	content: "\f1ed";
}
.icon-google-wallet:before {
	content: "\f1ee";
}
.icon-cc-visa:before {
	content: "\f1f0";
}
.icon-cc-mastercard:before {
	content: "\f1f1";
}
.icon-cc-discover:before {
	content: "\f1f2";
}
.icon-cc-amex:before {
	content: "\f1f3";
}
.icon-cc-paypal:before {
	content: "\f1f4";
}
.icon-cc-stripe:before {
	content: "\f1f5";
}
.icon-bell-slash:before {
	content: "\f1f6";
}
.icon-bell-slash-o:before {
	content: "\f1f7";
}
.icon-trash:before {
	content: "\f1f8";
}
.icon-copyright:before {
	content: "\f1f9";
}
.icon-at:before {
	content: "\f1fa";
}
.icon-eyedropper:before {
	content: "\f1fb";
}
.icon-paint-brush:before {
	content: "\f1fc";
}
.icon-birthday-cake:before {
	content: "\f1fd";
}
.icon-area-chart:before {
	content: "\f1fe";
}
.icon-pie-chart:before {
	content: "\f200";
}
.icon-line-chart:before {
	content: "\f201";
}
.icon-lastfm:before {
	content: "\f202";
}
.icon-lastfm-square:before {
	content: "\f203";
}
.icon-toggle-off:before {
	content: "\f204";
}
.icon-toggle-on:before {
	content: "\f205";
}
.icon-bicycle:before {
	content: "\f206";
}
.icon-bus:before {
	content: "\f207";
}
.icon-ioxhost:before {
	content: "\f208";
}
.icon-angellist:before {
	content: "\f209";
}
.icon-cc:before {
	content: "\f20a";
}
.icon-ils:before {
	content: "\f20b";
}
.icon-shekel:before {
	content: "\f20b";
}
.icon-sheqel:before {
	content: "\f20b";
}
.icon-meanpath:before {
	content: "\f20c";
}
.icon-buysellads:before {
	content: "\f20d";
}
.icon-connectdevelop:before {
	content: "\f20e";
}
.icon-dashcube:before {
	content: "\f210";
}
.icon-forumbee:before {
	content: "\f211";
}
.icon-leanpub:before {
	content: "\f212";
}
.icon-sellsy:before {
	content: "\f213";
}
.icon-shirtsinbulk:before {
	content: "\f214";
}
.icon-simplybuilt:before {
	content: "\f215";
}
.icon-skyatlas:before {
	content: "\f216";
}
.icon-cart-plus:before {
	content: "\f217";
}
.icon-cart-arrow-down:before {
	content: "\f218";
}
.icon-diamond:before {
	content: "\f219";
}
.icon-ship:before {
	content: "\f21a";
}
.icon-user-secret:before {
	content: "\f21b";
}
.icon-motorcycle:before {
	content: "\f21c";
}
.icon-street-view:before {
	content: "\f21d";
}
.icon-heartbeat:before {
	content: "\f21e";
}
.icon-venus:before {
	content: "\f221";
}
.icon-mars:before {
	content: "\f222";
}
.icon-mercury:before {
	content: "\f223";
}
.icon-intersex:before {
	content: "\f224";
}
.icon-transgender:before {
	content: "\f224";
}
.icon-transgender-alt:before {
	content: "\f225";
}
.icon-venus-double:before {
	content: "\f226";
}
.icon-mars-double:before {
	content: "\f227";
}
.icon-venus-mars:before {
	content: "\f228";
}
.icon-mars-stroke:before {
	content: "\f229";
}
.icon-mars-stroke-v:before {
	content: "\f22a";
}
.icon-mars-stroke-h:before {
	content: "\f22b";
}
.icon-neuter:before {
	content: "\f22c";
}
.icon-genderless:before {
	content: "\f22d";
}
.icon-facebook-official:before {
	content: "\f230";
}
.icon-pinterest-p:before {
	content: "\f231";
}
.icon-whatsapp:before {
	content: "\f232";
}
.icon-server:before {
	content: "\f233";
}
.icon-user-plus:before {
	content: "\f234";
}
.icon-user-times:before {
	content: "\f235";
}
.icon-bed:before {
	content: "\f236";
}
.icon-hotel:before {
	content: "\f236";
}
.icon-viacoin:before {
	content: "\f237";
}
.icon-train:before {
	content: "\f238";
}
.icon-subway:before {
	content: "\f239";
}
.icon-medium:before {
	content: "\f23a";
}
.icon-y-combinator:before {
	content: "\f23b";
}
.icon-yc:before {
	content: "\f23b";
}
.icon-optin-monster:before {
	content: "\f23c";
}
.icon-opencart:before {
	content: "\f23d";
}
.icon-expeditedssl:before {
	content: "\f23e";
}
.icon-battery-4:before {
	content: "\f240";
}
.icon-battery-full:before {
	content: "\f240";
}
.icon-battery-3:before {
	content: "\f241";
}
.icon-battery-three-quarters:before {
	content: "\f241";
}
.icon-battery-2:before {
	content: "\f242";
}
.icon-battery-half:before {
	content: "\f242";
}
.icon-battery-1:before {
	content: "\f243";
}
.icon-battery-quarter:before {
	content: "\f243";
}
.icon-battery-0:before {
	content: "\f244";
}
.icon-battery-empty:before {
	content: "\f244";
}
.icon-mouse-pointer:before {
	content: "\f245";
}
.icon-i-cursor:before {
	content: "\f246";
}
.icon-object-group:before {
	content: "\f247";
}
.icon-object-ungroup:before {
	content: "\f248";
}
.icon-sticky-note:before {
	content: "\f249";
}
.icon-sticky-note-o:before {
	content: "\f24a";
}
.icon-cc-jcb:before {
	content: "\f24b";
}
.icon-cc-diners-club:before {
	content: "\f24c";
}
.icon-clone:before {
	content: "\f24d";
}
.icon-balance-scale:before {
	content: "\f24e";
}
.icon-hourglass-o:before {
	content: "\f250";
}
.icon-hourglass-1:before {
	content: "\f251";
}
.icon-hourglass-start:before {
	content: "\f251";
}
.icon-hourglass-2:before {
	content: "\f252";
}
.icon-hourglass-half:before {
	content: "\f252";
}
.icon-hourglass-3:before {
	content: "\f253";
}
.icon-hourglass-end:before {
	content: "\f253";
}
.icon-hourglass:before {
	content: "\f254";
}
.icon-hand-grab-o:before {
	content: "\f255";
}
.icon-hand-rock-o:before {
	content: "\f255";
}
.icon-hand-paper-o:before {
	content: "\f256";
}
.icon-hand-stop-o:before {
	content: "\f256";
}
.icon-hand-scissors-o:before {
	content: "\f257";
}
.icon-hand-lizard-o:before {
	content: "\f258";
}
.icon-hand-spock-o:before {
	content: "\f259";
}
.icon-hand-pointer-o:before {
	content: "\f25a";
}
.icon-hand-peace-o:before {
	content: "\f25b";
}
.icon-trademark:before {
	content: "\f25c";
}
.icon-registered:before {
	content: "\f25d";
}
.icon-creative-commons:before {
	content: "\f25e";
}
.icon-gg:before {
	content: "\f260";
}
.icon-gg-circle:before {
	content: "\f261";
}
.icon-tripadvisor:before {
	content: "\f262";
}
.icon-odnoklassniki:before {
	content: "\f263";
}
.icon-odnoklassniki-square:before {
	content: "\f264";
}
.icon-get-pocket:before {
	content: "\f265";
}
.icon-wikipedia-w:before {
	content: "\f266";
}
.icon-safari:before {
	content: "\f267";
}
.icon-chrome:before {
	content: "\f268";
}
.icon-firefox:before {
	content: "\f269";
}
.icon-opera:before {
	content: "\f26a";
}
.icon-internet-explorer:before {
	content: "\f26b";
}
.icon-television:before {
	content: "\f26c";
}
.icon-tv:before {
	content: "\f26c";
}
.icon-contao:before {
	content: "\f26d";
}
.icon-500px:before {
	content: "\f26e";
}
.icon-amazon:before {
	content: "\f270";
}
.icon-calendar-plus-o:before {
	content: "\f271";
}
.icon-calendar-minus-o:before {
	content: "\f272";
}
.icon-calendar-times-o:before {
	content: "\f273";
}
.icon-calendar-check-o:before {
	content: "\f274";
}
.icon-industry:before {
	content: "\f275";
}
.icon-map-pin:before {
	content: "\f276";
}
.icon-map-signs:before {
	content: "\f277";
}
.icon-map-o:before {
	content: "\f278";
}
.icon-map:before {
	content: "\f279";
}
.icon-commenting:before {
	content: "\f27a";
}
.icon-commenting-o:before {
	content: "\f27b";
}
.icon-houzz:before {
	content: "\f27c";
}
.icon-vimeo:before {
	content: "\f27d";
}
.icon-black-tie:before {
	content: "\f27e";
}
.icon-fonticons:before {
	content: "\f280";
}
.icon-angle-down:before {
	content: "\e60b";
}
.icon-angle-up:before {
	content: "\e60c";
}
.icon-angle-right:before {
	content: "\e60d";
}
.icon-angle-left2:before {
	content: "\e60e";
}
.icon-map-marker:before {
	content: "\e60a";
}
.icon-arrow-circle-o-left:before {
	content: "\e600";
}
.icon-arrow-circle-o-right:before {
	content: "\e602";
}
.icon-arrow-circle-o-up:before {
	content: "\e603";
}
.icon-arrow-circle-o-down:before {
	content: "\e604";
}
.icon-plus-circle:before {
	content: "\e605";
}
.icon-chevron-circle-down:before {
	content: "\e606";
}
.icon-chevron-circle-up:before {
	content: "\e607";
}
.icon-chevron-circle-right:before {
	content: "\e608";
}
.icon-chevron-circle-left:before {
	content: "\e609";
}
.icon-check:before {
	content: "\f00c";
}
.icon-close:before {
	content: "\f00d";
}
.icon-remove:before {
	content: "\f00d";
}
.icon-times:before {
	content: "\f00d";
}
.icon-lock:before {
	content: "\f023";
}
.icon-arrow-left:before {
	content: "\f060";
}
.icon-shopping-cart:before {
	content: "\f07a";
}
.icon-bar-chart:before {
	content: "\f080";
}
.icon-bar-chart-o:before {
	content: "\f080";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-facebook-f:before {
	content: "\f09a";
}
.icon-bars:before {
	content: "\f0c9";
}
.icon-navicon:before {
	content: "\f0c9";
}
.icon-reorder:before {
	content: "\f0c9";
}
.icon-caret-left:before {
	content: "\f0d9";
}
.icon-comment-o:before {
	content: "\f0e5";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-rocket:before {
	content: "\f135";
}
.icon-youtube-play:before {
	content: "\f16a";
}
.icon-instagram:before {
	content: "\f16d";
}
.icon-vine:before {
	content: "\f1ca";
}
.icon-home4:before {
	content: "\e900";
}
.icon-home2:before {
	content: "\e901";
}
.icon-home3:before {
	content: "\e902";
}
.icon-office:before {
	content: "\e903";
}
.icon-newspaper:before {
	content: "\e904";
}
.icon-pencil3:before {
	content: "\e905";
}
.icon-pencil2:before {
	content: "\e906";
}
.icon-quill:before {
	content: "\e907";
}
.icon-pen:before {
	content: "\e908";
}
.icon-blog:before {
	content: "\e909";
}
.icon-eyedropper2:before {
	content: "\e90a";
}
.icon-droplet:before {
	content: "\e90b";
}
.icon-paint-format:before {
	content: "\e90c";
}
.icon-image2:before {
	content: "\e90d";
}
.icon-images:before {
	content: "\e90e";
}
.icon-camera2:before {
	content: "\e90f";
}
.icon-headphones2:before {
	content: "\e910";
}
.icon-music2:before {
	content: "\e911";
}
.icon-play4:before {
	content: "\e912";
}
.icon-film2:before {
	content: "\e913";
}
.icon-video-camera2:before {
	content: "\e914";
}
.icon-dice:before {
	content: "\e915";
}
.icon-pacman:before {
	content: "\e916";
}
.icon-spades:before {
	content: "\e917";
}
.icon-clubs:before {
	content: "\e918";
}
.icon-diamonds:before {
	content: "\e919";
}
.icon-bullhorn2:before {
	content: "\e91a";
}
.icon-connection:before {
	content: "\e91b";
}
.icon-podcast:before {
	content: "\e91c";
}
.icon-feed5:before {
	content: "\e91d";
}
.icon-mic:before {
	content: "\e91e";
}
.icon-book2:before {
	content: "\e91f";
}
.icon-books:before {
	content: "\e920";
}
.icon-library:before {
	content: "\e921";
}
.icon-file-text3:before {
	content: "\e922";
}
.icon-profile:before {
	content: "\e923";
}
.icon-file-empty:before {
	content: "\e924";
}
.icon-files-empty:before {
	content: "\e925";
}
.icon-file-text2:before {
	content: "\e926";
}
.icon-file-picture:before {
	content: "\e927";
}
.icon-file-music:before {
	content: "\e928";
}
.icon-file-play:before {
	content: "\e929";
}
.icon-file-video:before {
	content: "\e92a";
}
.icon-file-zip:before {
	content: "\e92b";
}
.icon-copy2:before {
	content: "\e92c";
}
.icon-paste2:before {
	content: "\e92d";
}
.icon-stack:before {
	content: "\e92e";
}
.icon-folder2:before {
	content: "\e92f";
}
.icon-folder-open2:before {
	content: "\e930";
}
.icon-folder-plus:before {
	content: "\e931";
}
.icon-folder-minus:before {
	content: "\e932";
}
.icon-folder-download:before {
	content: "\e933";
}
.icon-folder-upload:before {
	content: "\e934";
}
.icon-price-tag:before {
	content: "\e935";
}
.icon-price-tags:before {
	content: "\e936";
}
.icon-barcode2:before {
	content: "\e937";
}
.icon-qrcode2:before {
	content: "\e938";
}
.icon-ticket2:before {
	content: "\e939";
}
.icon-cart:before {
	content: "\e93a";
}
.icon-coin-dollar:before {
	content: "\e93b";
}
.icon-coin-euro:before {
	content: "\e93c";
}
.icon-coin-pound:before {
	content: "\e93d";
}
.icon-coin-yen:before {
	content: "\e93e";
}
.icon-credit-card2:before {
	content: "\e93f";
}
.icon-calculator2:before {
	content: "\e940";
}
.icon-lifebuoy:before {
	content: "\e941";
}
.icon-phone3:before {
	content: "\e942";
}
.icon-phone-hang-up:before {
	content: "\e943";
}
.icon-address-book:before {
	content: "\e944";
}
.icon-envelop2:before {
	content: "\e945";
}
.icon-pushpin:before {
	content: "\e946";
}
.icon-location:before {
	content: "\e947";
}
.icon-location2:before {
	content: "\e948";
}
.icon-compass3:before {
	content: "\e949";
}
.icon-compass2:before {
	content: "\e94a";
}
.icon-map3:before {
	content: "\e94b";
}
.icon-map2:before {
	content: "\e94c";
}
.icon-history2:before {
	content: "\e94d";
}
.icon-clock:before {
	content: "\e94e";
}
.icon-clock2:before {
	content: "\e94f";
}
.icon-alarm:before {
	content: "\e950";
}
.icon-bell2:before {
	content: "\e951";
}
.icon-stopwatch:before {
	content: "\e952";
}
.icon-calendar2:before {
	content: "\e953";
}
.icon-printer:before {
	content: "\e954";
}
.icon-keyboard:before {
	content: "\e955";
}
.icon-display:before {
	content: "\e956";
}
.icon-laptop2:before {
	content: "\e957";
}
.icon-mobile3:before {
	content: "\e958";
}
.icon-mobile2:before {
	content: "\e959";
}
.icon-tablet2:before {
	content: "\e95a";
}
.icon-tv2:before {
	content: "\e95b";
}
.icon-drawer:before {
	content: "\e95c";
}
.icon-drawer2:before {
	content: "\e95d";
}
.icon-box-add:before {
	content: "\e95e";
}
.icon-box-remove:before {
	content: "\e95f";
}
.icon-download4:before {
	content: "\e960";
}
.icon-upload4:before {
	content: "\e961";
}
.icon-floppy-disk:before {
	content: "\e962";
}
.icon-drive:before {
	content: "\e963";
}
.icon-database2:before {
	content: "\e964";
}
.icon-undo3:before {
	content: "\e965";
}
.icon-redo:before {
	content: "\e966";
}
.icon-undo2:before {
	content: "\e967";
}
.icon-redo2:before {
	content: "\e968";
}
.icon-forward4:before {
	content: "\e969";
}
.icon-reply2:before {
	content: "\e96a";
}
.icon-bubble:before {
	content: "\e96b";
}
.icon-bubbles5:before {
	content: "\e96d";
}
.icon-bubbles2:before {
	content: "\e96e";
}
.icon-bubble2:before {
	content: "\e96f";
}
.icon-bubbles3:before {
	content: "\e970";
}
.icon-bubbles4:before {
	content: "\e972";
}
.icon-user3:before {
	content: "\e973";
}
.icon-users2:before {
	content: "\e974";
}
.icon-user-plus2:before {
	content: "\e975";
}
.icon-user-minus:before {
	content: "\e976";
}
.icon-user-check:before {
	content: "\e977";
}
.icon-user-tie:before {
	content: "\e978";
}
.icon-quotes-left:before {
	content: "\e979";
}
.icon-quotes-right:before {
	content: "\e97a";
}
.icon-hour-glass:before {
	content: "\e97b";
}
.icon-spinner12:before {
	content: "\e97c";
}
.icon-spinner2:before {
	content: "\e97d";
}
.icon-spinner3:before {
	content: "\e97e";
}
.icon-spinner4:before {
	content: "\e97f";
}
.icon-spinner5:before {
	content: "\e980";
}
.icon-spinner6:before {
	content: "\e981";
}
.icon-spinner7:before {
	content: "\e982";
}
.icon-spinner8:before {
	content: "\e983";
}
.icon-spinner9:before {
	content: "\e984";
}
.icon-spinner10:before {
	content: "\e985";
}
.icon-spinner11:before {
	content: "\e986";
}
.icon-binoculars2:before {
	content: "\e987";
}
.icon-search2:before {
	content: "\e988";
}
.icon-zoom-in:before {
	content: "\e989";
}
.icon-zoom-out:before {
	content: "\e98a";
}
.icon-enlarge:before {
	content: "\e98b";
}
.icon-shrink:before {
	content: "\e98c";
}
.icon-enlarge2:before {
	content: "\e98d";
}
.icon-shrink2:before {
	content: "\e98e";
}
.icon-key3:before {
	content: "\e98f";
}
.icon-key2:before {
	content: "\e990";
}
.icon-lock3:before {
	content: "\e991";
}
.icon-unlocked:before {
	content: "\e992";
}
.icon-wrench2:before {
	content: "\e993";
}
.icon-equalizer:before {
	content: "\e994";
}
.icon-equalizer2:before {
	content: "\e995";
}
.icon-cog3:before {
	content: "\e996";
}
.icon-cogs3:before {
	content: "\e997";
}
.icon-hammer:before {
	content: "\e998";
}
.icon-magic-wand:before {
	content: "\e999";
}
.icon-aid-kit:before {
	content: "\e99a";
}
.icon-bug2:before {
	content: "\e99b";
}
.icon-pie-chart2:before {
	content: "\e99c";
}
.icon-stats-dots:before {
	content: "\e99d";
}
.icon-stats-bars:before {
	content: "\e99e";
}
.icon-stats-bars2:before {
	content: "\e99f";
}
.icon-trophy2:before {
	content: "\e9a0";
}
.icon-gift2:before {
	content: "\e9a1";
}
.icon-glass3:before {
	content: "\e9a2";
}
.icon-glass2:before {
	content: "\e9a3";
}
.icon-mug:before {
	content: "\e9a4";
}
.icon-spoon-knife:before {
	content: "\e9a5";
}
.icon-leaf2:before {
	content: "\e9a6";
}
.icon-rocket3:before {
	content: "\e9a7";
}
.icon-meter:before {
	content: "\e9a8";
}
.icon-meter2:before {
	content: "\e9a9";
}
.icon-hammer2:before {
	content: "\e9aa";
}
.icon-fire2:before {
	content: "\e9ab";
}
.icon-lab:before {
	content: "\e9ac";
}
.icon-magnet2:before {
	content: "\e9ad";
}
.icon-bin:before {
	content: "\e9ae";
}
.icon-bin2:before {
	content: "\e9af";
}
.icon-briefcase2:before {
	content: "\e9b0";
}
.icon-airplane:before {
	content: "\e9b1";
}
.icon-truck2:before {
	content: "\e9b2";
}
.icon-road2:before {
	content: "\e9b3";
}
.icon-accessibility:before {
	content: "\e9b4";
}
.icon-target:before {
	content: "\e9b5";
}
.icon-shield2:before {
	content: "\e9b6";
}
.icon-power:before {
	content: "\e9b7";
}
.icon-switch:before {
	content: "\e9b8";
}
.icon-power-cord:before {
	content: "\e9b9";
}
.icon-clipboard2:before {
	content: "\e9ba";
}
.icon-list-numbered:before {
	content: "\e9bb";
}
.icon-list3:before {
	content: "\e9bc";
}
.icon-list2:before {
	content: "\e9bd";
}
.icon-tree2:before {
	content: "\e9be";
}
.icon-menu:before {
	content: "\e9bf";
}
.icon-menu2:before {
	content: "\e9c0";
}
.icon-menu3:before {
	content: "\e9c1";
}
.icon-menu4:before {
	content: "\e9c2";
}
.icon-cloud2:before {
	content: "\e9c3";
}
.icon-cloud-download2:before {
	content: "\e9c4";
}
.icon-cloud-upload2:before {
	content: "\e9c5";
}
.icon-cloud-check:before {
	content: "\e9c6";
}
.icon-download2:before {
	content: "\e9c7";
}
.icon-upload2:before {
	content: "\e9c8";
}
.icon-download3:before {
	content: "\e9c9";
}
.icon-upload3:before {
	content: "\e9ca";
}
.icon-sphere:before {
	content: "\e9cb";
}
.icon-earth:before {
	content: "\e9cc";
}
.icon-link2:before {
	content: "\e9cd";
}
.icon-flag2:before {
	content: "\e9ce";
}
.icon-attachment:before {
	content: "\e9cf";
}
.icon-eye2:before {
	content: "\e9d0";
}
.icon-eye-plus:before {
	content: "\e9d1";
}
.icon-eye-minus:before {
	content: "\e9d2";
}
.icon-eye-blocked:before {
	content: "\e9d3";
}
.icon-bookmark2:before {
	content: "\e9d4";
}
.icon-bookmarks:before {
	content: "\e9d5";
}
.icon-sun:before {
	content: "\e9d6";
}
.icon-contrast:before {
	content: "\e9d7";
}
.icon-brightness-contrast:before {
	content: "\e9d8";
}
.icon-star-empty:before {
	content: "\e9d9";
}
.icon-star-half2:before {
	content: "\e9da";
}
.icon-star-full:before {
	content: "\e9db";
}
.icon-heart2:before {
	content: "\e9dc";
}
.icon-heart-broken:before {
	content: "\e9dd";
}
.icon-man:before {
	content: "\e9de";
}
.icon-woman:before {
	content: "\e9df";
}
.icon-man-woman:before {
	content: "\e9e0";
}
.icon-happy:before {
	content: "\e9e1";
}
.icon-happy2:before {
	content: "\e9e2";
}
.icon-smile:before {
	content: "\e9e3";
}
.icon-smile2:before {
	content: "\e9e4";
}
.icon-tongue:before {
	content: "\e9e5";
}
.icon-tongue2:before {
	content: "\e9e6";
}
.icon-sad:before {
	content: "\e9e7";
}
.icon-sad2:before {
	content: "\e9e8";
}
.icon-wink:before {
	content: "\e9e9";
}
.icon-wink2:before {
	content: "\e9ea";
}
.icon-grin:before {
	content: "\e9eb";
}
.icon-grin2:before {
	content: "\e9ec";
}
.icon-cool:before {
	content: "\e9ed";
}
.icon-cool2:before {
	content: "\e9ee";
}
.icon-angry:before {
	content: "\e9ef";
}
.icon-angry2:before {
	content: "\e9f0";
}
.icon-evil:before {
	content: "\e9f1";
}
.icon-evil2:before {
	content: "\e9f2";
}
.icon-shocked:before {
	content: "\e9f3";
}
.icon-shocked2:before {
	content: "\e9f4";
}
.icon-baffled:before {
	content: "\e9f5";
}
.icon-baffled2:before {
	content: "\e9f6";
}
.icon-confused:before {
	content: "\e9f7";
}
.icon-confused2:before {
	content: "\e9f8";
}
.icon-neutral:before {
	content: "\e9f9";
}
.icon-neutral2:before {
	content: "\e9fa";
}
.icon-hipster:before {
	content: "\e9fb";
}
.icon-hipster2:before {
	content: "\e9fc";
}
.icon-wondering:before {
	content: "\e9fd";
}
.icon-wondering2:before {
	content: "\e9fe";
}
.icon-sleepy:before {
	content: "\e9ff";
}
.icon-sleepy2:before {
	content: "\ea00";
}
.icon-frustrated:before {
	content: "\ea01";
}
.icon-frustrated2:before {
	content: "\ea02";
}
.icon-crying:before {
	content: "\ea03";
}
.icon-crying2:before {
	content: "\ea04";
}
.icon-point-up:before {
	content: "\ea05";
}
.icon-point-right:before {
	content: "\ea06";
}
.icon-point-down:before {
	content: "\ea07";
}
.icon-point-left:before {
	content: "\ea08";
}
.icon-warning2:before {
	content: "\ea09";
}
.icon-notification:before {
	content: "\ea0a";
}
.icon-question2:before {
	content: "\ea0b";
}
.icon-plus2:before {
	content: "\ea0c";
}
.icon-minus2:before {
	content: "\ea0d";
}
.icon-info2:before {
	content: "\ea0e";
}
.icon-cancel-circle:before {
	content: "\ea0f";
}
.icon-blocked:before {
	content: "\ea10";
}
.icon-cross:before {
	content: "\ea11";
}
.icon-checkmark:before {
	content: "\ea12";
}
.icon-checkmark2:before {
	content: "\ea13";
}
.icon-spell-check:before {
	content: "\ea14";
}
.icon-enter:before {
	content: "\ea15";
}
.icon-exit:before {
	content: "\ea16";
}
.icon-play2:before {
	content: "\ea17";
}
.icon-pause3:before {
	content: "\ea18";
}
.icon-stop3:before {
	content: "\ea19";
}
.icon-previous:before {
	content: "\ea1a";
}
.icon-next:before {
	content: "\ea1b";
}
.icon-backward3:before {
	content: "\ea1c";
}
.icon-forward2:before {
	content: "\ea1d";
}
.icon-play3:before {
	content: "\ea1e";
}
.icon-pause2:before {
	content: "\ea1f";
}
.icon-stop2:before {
	content: "\ea20";
}
.icon-backward2:before {
	content: "\ea21";
}
.icon-forward3:before {
	content: "\ea22";
}
.icon-first:before {
	content: "\ea23";
}
.icon-last:before {
	content: "\ea24";
}
.icon-previous2:before {
	content: "\ea25";
}
.icon-next2:before {
	content: "\ea26";
}
.icon-eject2:before {
	content: "\ea27";
}
.icon-volume-high:before {
	content: "\ea28";
}
.icon-volume-medium:before {
	content: "\ea29";
}
.icon-volume-low:before {
	content: "\ea2a";
}
.icon-volume-mute:before {
	content: "\ea2b";
}
.icon-volume-mute2:before {
	content: "\ea2c";
}
.icon-volume-increase:before {
	content: "\ea2d";
}
.icon-volume-decrease:before {
	content: "\ea2e";
}
.icon-loop:before {
	content: "\ea2f";
}
.icon-loop2:before {
	content: "\ea30";
}
.icon-infinite:before {
	content: "\ea31";
}
.icon-shuffle:before {
	content: "\ea32";
}
.icon-arrow-up-left:before {
	content: "\ea33";
}
.icon-arrow-up3:before {
	content: "\ea34";
}
.icon-arrow-up-right:before {
	content: "\ea35";
}
.icon-arrow-right3:before {
	content: "\ea36";
}
.icon-arrow-down-right:before {
	content: "\ea37";
}
.icon-arrow-down3:before {
	content: "\ea38";
}
.icon-arrow-down-left:before {
	content: "\ea39";
}
.icon-arrow-left4:before {
	content: "\ea3a";
}
.icon-arrow-up-left2:before {
	content: "\ea3b";
}
.icon-arrow-up2:before {
	content: "\ea3c";
}
.icon-arrow-up-right2:before {
	content: "\ea3d";
}
.icon-arrow-right2:before {
	content: "\ea3e";
}
.icon-arrow-down-right2:before {
	content: "\ea3f";
}
.icon-arrow-down2:before {
	content: "\ea41";
}
.icon-arrow-down-left2:before {
	content: "\ea42";
}
.icon-arrow-left22:before {
	content: "\ea43";
}
.icon-circle-up:before {
	content: "\ea44";
}
.icon-circle-right:before {
	content: "\ea45";
}
.icon-circle-down:before {
	content: "\ea46";
}
.icon-circle-left:before {
	content: "\ea47";
}
.icon-tab:before {
	content: "\ea48";
}
.icon-move-up:before {
	content: "\ea49";
}
.icon-move-down:before {
	content: "\ea4a";
}
.icon-sort-alpha-asc2:before {
	content: "\ea4b";
}
.icon-sort-alpha-desc2:before {
	content: "\ea4c";
}
.icon-sort-numeric-asc2:before {
	content: "\ea4d";
}
.icon-sort-numberic-desc:before {
	content: "\ea4e";
}
.icon-sort-amount-asc2:before {
	content: "\ea4f";
}
.icon-sort-amount-desc2:before {
	content: "\ea50";
}
.icon-command:before {
	content: "\ea51";
}
.icon-shift:before {
	content: "\ea52";
}
.icon-ctrl:before {
	content: "\ea53";
}
.icon-opt:before {
	content: "\ea54";
}
.icon-checkbox-checked:before {
	content: "\ea55";
}
.icon-checkbox-unchecked:before {
	content: "\ea56";
}
.icon-radio-checked:before {
	content: "\ea57";
}
.icon-radio-checked2:before {
	content: "\ea58";
}
.icon-radio-unchecked:before {
	content: "\ea59";
}
.icon-crop2:before {
	content: "\ea5a";
}
.icon-make-group:before {
	content: "\ea5b";
}
.icon-ungroup:before {
	content: "\ea5c";
}
.icon-scissors2:before {
	content: "\ea5d";
}
.icon-filter2:before {
	content: "\ea5e";
}
.icon-font2:before {
	content: "\ea5f";
}
.icon-ligature:before {
	content: "\ea60";
}
.icon-ligature2:before {
	content: "\ea61";
}
.icon-text-height2:before {
	content: "\ea62";
}
.icon-text-width2:before {
	content: "\ea63";
}
.icon-font-size:before {
	content: "\ea64";
}
.icon-bold2:before {
	content: "\ea65";
}
.icon-underline2:before {
	content: "\ea66";
}
.icon-italic2:before {
	content: "\ea67";
}
.icon-strikethrough2:before {
	content: "\ea68";
}
.icon-omega:before {
	content: "\ea69";
}
.icon-sigma:before {
	content: "\ea6a";
}
.icon-page-break:before {
	content: "\ea6b";
}
.icon-superscript3:before {
	content: "\ea6c";
}
.icon-subscript3:before {
	content: "\ea6d";
}
.icon-superscript2:before {
	content: "\ea6e";
}
.icon-subscript2:before {
	content: "\ea6f";
}
.icon-text-color:before {
	content: "\ea70";
}
.icon-pagebreak:before {
	content: "\ea71";
}
.icon-clear-formatting:before {
	content: "\ea72";
}
.icon-table3:before {
	content: "\ea73";
}
.icon-table2:before {
	content: "\ea74";
}
.icon-insert-template:before {
	content: "\ea75";
}
.icon-pilcrow:before {
	content: "\ea76";
}
.icon-ltr:before {
	content: "\ea77";
}
.icon-rtl:before {
	content: "\ea78";
}
.icon-section:before {
	content: "\ea79";
}
.icon-paragraph-left:before {
	content: "\ea7a";
}
.icon-paragraph-center:before {
	content: "\ea7b";
}
.icon-paragraph-right:before {
	content: "\ea7c";
}
.icon-paragraph-justify:before {
	content: "\ea7d";
}
.icon-indent-increase:before {
	content: "\ea7e";
}
.icon-indent-decrease:before {
	content: "\ea7f";
}
.icon-share3:before {
	content: "\ea80";
}
.icon-new-tab:before {
	content: "\ea81";
}
.icon-embed:before {
	content: "\ea82";
}
.icon-embed2:before {
	content: "\ea83";
}
.icon-terminal2:before {
	content: "\ea84";
}
.icon-share2:before {
	content: "\ea85";
}
.icon-mail5:before {
	content: "\ea86";
}
.icon-mail2:before {
	content: "\ea87";
}
.icon-mail3:before {
	content: "\ea88";
}
.icon-mail4:before {
	content: "\ea89";
}
.icon-google2:before {
	content: "\ea8a";
}
.icon-google-plus4:before {
	content: "\ea8b";
}
.icon-google-plus2:before {
	content: "\ea8c";
}
.icon-google-plus3:before {
	content: "\ea8d";
}
.icon-google-drive:before {
	content: "\ea8e";
}
.icon-facebook4:before {
	content: "\ea8f";
}
.icon-facebook22:before {
	content: "\ea90";
}
.icon-facebook3:before {
	content: "\ea91";
}
.icon-ello:before {
	content: "\ea92";
}
.icon-instagram3:before {
	content: "\ea93";
}
.icon-twitter5:before {
	content: "\ea94";
}
.icon-twitter2:before {
	content: "\ea95";
}
.icon-twitter3:before {
	content: "\ea96";
}
.icon-feed2:before {
	content: "\ea97";
}
.icon-feed3:before {
	content: "\ea98";
}
.icon-feed4:before {
	content: "\ea99";
}
.icon-youtube5:before {
	content: "\ea9a";
}
.icon-youtube2:before {
	content: "\ea9b";
}
.icon-youtube3:before {
	content: "\ea9c";
}
.icon-youtube4:before {
	content: "\ea9d";
}
.icon-twitch2:before {
	content: "\ea9e";
}
.icon-vimeo4:before {
	content: "\ea9f";
}
.icon-vimeo2:before {
	content: "\eaa0";
}
.icon-vimeo3:before {
	content: "\eaa1";
}
.icon-lanyrd:before {
	content: "\eaa2";
}
.icon-flickr5:before {
	content: "\eaa3";
}
.icon-flickr2:before {
	content: "\eaa4";
}
.icon-flickr3:before {
	content: "\eaa5";
}
.icon-flickr4:before {
	content: "\eaa6";
}
.icon-picassa:before {
	content: "\eaa7";
}
.icon-picassa2:before {
	content: "\eaa8";
}
.icon-dribbble4:before {
	content: "\eaa9";
}
.icon-dribbble2:before {
	content: "\eaaa";
}
.icon-dribbble3:before {
	content: "\eaab";
}
.icon-forrst:before {
	content: "\eaac";
}
.icon-forrst2:before {
	content: "\eaad";
}
.icon-deviantart3:before {
	content: "\eaae";
}
.icon-deviantart2:before {
	content: "\eaaf";
}
.icon-steam3:before {
	content: "\eab0";
}
.icon-steam2:before {
	content: "\eab1";
}
.icon-dropbox2:before {
	content: "\eab2";
}
.icon-onedrive:before {
	content: "\eab3";
}
.icon-github6:before {
	content: "\eab4";
}
.icon-github2:before {
	content: "\eab5";
}
.icon-github3:before {
	content: "\eab6";
}
.icon-github4:before {
	content: "\eab7";
}
.icon-github5:before {
	content: "\eab8";
}
.icon-wordpress3:before {
	content: "\eab9";
}
.icon-wordpress2:before {
	content: "\eaba";
}
.icon-joomla2:before {
	content: "\eabb";
}
.icon-blogger:before {
	content: "\eabc";
}
.icon-blogger2:before {
	content: "\eabd";
}
.icon-tumblr3:before {
	content: "\eabe";
}
.icon-tumblr2:before {
	content: "\eabf";
}
.icon-yahoo2:before {
	content: "\eac0";
}
.icon-tux:before {
	content: "\eac1";
}
.icon-apple2:before {
	content: "\eac2";
}
.icon-finder:before {
	content: "\eac3";
}
.icon-android2:before {
	content: "\eac4";
}
.icon-windows2:before {
	content: "\eac5";
}
.icon-windows8:before {
	content: "\eac6";
}
.icon-soundcloud3:before {
	content: "\eac7";
}
.icon-soundcloud2:before {
	content: "\eac8";
}
.icon-skype3:before {
	content: "\eac9";
}
.icon-reddit2:before {
	content: "\eaca";
}
.icon-linkedin3:before {
	content: "\eacb";
}
.icon-linkedin2:before {
	content: "\eacc";
}
.icon-lastfm3:before {
	content: "\eacd";
}
.icon-lastfm2:before {
	content: "\eace";
}
.icon-delicious2:before {
	content: "\eacf";
}
.icon-stumbleupon3:before {
	content: "\ead0";
}
.icon-stumbleupon2:before {
	content: "\ead1";
}
.icon-stackoverflow:before {
	content: "\ead2";
}
.icon-pinterest3:before {
	content: "\ead3";
}
.icon-pinterest2:before {
	content: "\ead4";
}
.icon-xing3:before {
	content: "\ead5";
}
.icon-xing2:before {
	content: "\ead6";
}
.icon-flattr:before {
	content: "\ead7";
}
.icon-foursquare2:before {
	content: "\ead8";
}
.icon-paypal4:before {
	content: "\ead9";
}
.icon-paypal2:before {
	content: "\eada";
}
.icon-paypal3:before {
	content: "\eadb";
}
.icon-yelp2:before {
	content: "\eadc";
}
.icon-file-pdf:before {
	content: "\eadd";
}
.icon-file-openoffice:before {
	content: "\eade";
}
.icon-file-word:before {
	content: "\eadf";
}
.icon-file-excel:before {
	content: "\eae0";
}
.icon-libreoffice:before {
	content: "\eae1";
}
.icon-html53:before {
	content: "\eae2";
}
.icon-html52:before {
	content: "\eae3";
}
.icon-css32:before {
	content: "\eae4";
}
.icon-git2:before {
	content: "\eae5";
}
.icon-svg:before {
	content: "\eae6";
}
.icon-codepen2:before {
	content: "\eae7";
}
.icon-chrome2:before {
	content: "\eae8";
}
.icon-firefox2:before {
	content: "\eae9";
}
.icon-IE:before {
	content: "\eaea";
}
.icon-opera2:before {
	content: "\eaeb";
}
.icon-safari2:before {
	content: "\eaec";
}
.icon-IcoMoon:before {
	content: "\eaed";
}
.icon-bubbles:before {
	content: "\e96c";
}
.icon-user:before {
	content: "\e971";
}
.icon-arrow-left2:before {
	content: "\ea40";
}
.icon-envelop:before {
	content: "\e610";
}
.icon-cog:before {
	content: "\e611";
}
.icon-cogs:before {
	content: "\e612";
}
.icon-phone:before {
	content: "\e613";
}
.icon-skype:before {
	content: "\e614";
}
.icon-open:before {
	content: "\e601";
}
.icon-mail:before {
	content: "\e60f";
}

