/* line 7, ../sass/admin.scss */
.enquiry-settings-parent {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

/* line 12, ../sass/admin.scss */
.enquiry-settings {
  display: inline-block;
  width: 33%;
  float: left;
}

/* Medium Screen/Large Tablets */
/* Tablets */
/* Mobile wide/Smaller Tablets */
/* Small Screen Mobile */
