@font-face{
    font-family:"UniversCL";
    src:url("296c59c2-74b0-41c1-bcfd-23d22a713f86.eot?#iefix");
    src:url("296c59c2-74b0-41c1-bcfd-23d22a713f86.eot?#iefix") format("eot"),
    url("609beecf-8d23-4a8c-bbf5-d22ee8db2fc9.woff") format("woff"),
    url("a6595b8d-d4a3-4f01-bf21-0b53617d4b1c.ttf") format("truetype"),
    url("1cd9ef2f-b358-4d39-8628-6481d9e1c8ce.svg#1cd9ef2f-b358-4d39-8628-6481d9e1c8ce") format("svg");
}
@font-face{
    font-family:"UniversR";
    src:url("b5c30ea8-0700-4fd2-aa12-cc45074693a9.eot?#iefix");
    src:url("b5c30ea8-0700-4fd2-aa12-cc45074693a9.eot?#iefix") format("eot"),
    url("7b95cb9a-a288-4405-97a0-13095f56a903.woff") format("woff"),
    url("c7481806-4ea4-40db-a623-7bc352bbbe43.ttf") format("truetype"),
    url("ac8280da-3de5-456d-bd77-8f01665452a9.svg#ac8280da-3de5-456d-bd77-8f01665452a9") format("svg");
}
@font-face{
    font-family:"UniversB";
    src:url("db1c462f-8890-4a11-9de5-36872279e20a.eot?#iefix");
    src:url("db1c462f-8890-4a11-9de5-36872279e20a.eot?#iefix") format("eot"),
    url("b993da84-c1f6-474a-8f00-8aa797b3de8f.woff") format("woff"),
    url("58403ef6-4c15-4280-b4b6-9acf50804f4f.ttf") format("truetype"),
    url("9178e351-95c5-4913-9eeb-fd0645a18c2d.svg#9178e351-95c5-4913-9eeb-fd0645a18c2d") format("svg");
}
@font-face{
    font-family:"UniversCB";
    src:url("076b8d7a-91b5-4c89-86a1-546b980072c7.eot?#iefix");
    src:url("076b8d7a-91b5-4c89-86a1-546b980072c7.eot?#iefix") format("eot"),
    url("21decb60-b395-4de2-bd04-e38eb2a56d2f.woff") format("woff"),
    url("091058d4-36b2-43f6-80d3-16c88e098061.ttf") format("truetype"),
    url("827d22bc-e38b-4ccf-8a21-1f9aaa76e402.svg#827d22bc-e38b-4ccf-8a21-1f9aaa76e402") format("svg");
}
@font-face {
    font-family: "UniversL";
    src: url("UniversLTStd-Light.eot?#iefix");
    src: url("UniversLTStd-Light.eot?#iefix") format("eot"),
    /* url("UniversLTStd-Light.otf") format("opentype"), */
    url("UniversLTStd-Light.woff") format("woff"),
    url("UniversLTStd-Light.ttf") format("truetype"),
    url("UniversLTStd-Light.svg") format("svg");
}