/* start common */
.ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}

.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}

/* start style6 */
.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    cursor: default;
}

.ch-info-wrap,
.ch-info{
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
}

.ch-info-wrap {
    top: 20px;
    left: 20px;
    background: #FFF;
    box-shadow:
        0 0 0 20px rgba(255,255,255,0.2),
        inset 0 0 3px rgba(115,114, 23, 0.8);

}

.ch-info {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.ch-info > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.ch-info .ch-info-front {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;

    z-index: 100;
    box-shadow:
        inset 2px 1px 4px rgba(0,0,0,0.1);
}

.ch-info .ch-info-back {
    background: rgba(230,132,107,0);
}

.ch-item {
    background-image: url(../../images/data-bundles/circle-back.jpg);
}

.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    margin: 0 25px;
    padding: 40px 0 0 0;
    height: 90px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow:
        0 0 1px #fff,
        0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
    color: #fff;
    padding: 20px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
    display: block;
    color: #fff;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
    color: #fff222;
    color: rgba(255,242,34, 0.8);
}

.ch-item:hover .ch-info-front {
    -webkit-transform: rotate3d(1,0,0,-180deg);
    -moz-transform: rotate3d(1,0,0,-180deg);
    -o-transform: rotate3d(1,0,0,-180deg);
    -ms-transform: rotate3d(1,0,0,-180deg);
    transform: rotate3d(1,0,0,-180deg);

    box-shadow:
        inset 0 0 5px rgba(255,255,255,0.2),
        inset 0 0 3px rgba(0,0,0,0.3);
}

.ch-item:hover .ch-info-back {
    background: rgba(230,132,107,0.6);
}


/**
* Smile specific
*/
.ch-grid .ch-info h3 {
    font-family: UniversL;
    font-size: 24px;
    padding: 35px 0 0;
    text-shadow:none;
    height:80px;
}
.ch-grid .ch-info-front .data-bundle {
    color: #333;
    font-family: UniversB;
    font-size: 60px;
    margin-left: 20px;
    position: relative;
}
.ch-grid .ch-info-front .data-bundle .data-bundle-size {
    font-family: UniversR;
    font-size: 30px;
    vertical-align: super;
}

.ch-grid .ch-info-front .text {
    font-family: UniversR;
    font-size: 30px;
    margin-left: -20px;
}

.ch-grid .light-green .ch-info-front h3,
.ch-grid .light-green .ch-info-front .data-bundle{
    color:#b0d235;
    text-shadow:none;
}
.ch-grid .green .ch-info-front h3,
.ch-grid .green .ch-info-front .data-bundle {
    color:#75b343;
    text-shadow:none;
}
.ch-grid .grey .ch-info-front h3,
.ch-grid .grey .ch-info-front .data-bundle {
    color:#86919a;
    text-shadow:none;
}
.ch-grid .orange .ch-info-front h3,
.ch-grid .orange .ch-info-front .data-bundle {
    color:#faa61c;
    text-shadow:none;
}

.ch-grid .ch-info-front .subtitle {
    font-family: UniversL;
    font-size: 15px;
    font-style: normal;
    color:#bbbbbb;
    line-height: 20px;
}

.ch-grid .ch-info-wrap {
    top:10px;
    left:10px;
    z-index: 10;
}
.ch-grid .ch-info-wrap .ch-info {
    width:200px;
    height:200px;
}
.ch-grid .ch-info-wrap, .ch-info .ch-info-front {
    box-shadow:none;
    border:0;
}

/* reset price styling */
.ch-grid .ch-info-back span.amount:before {
    font-size: 13px;
}

.ch-grid .light-green.ch-item:hover .ch-info-back {
    background: #b0d235;
}
.ch-grid .green.ch-item:hover .ch-info-back {
    background: #75b343;
}
.ch-grid .grey.ch-item:hover .ch-info-back {
    background: #86919a;
}
.ch-grid .orange.ch-item:hover .ch-info-back {
    background: #faa61c;
}

.ch-grid .ch-info-back h3 {
    height:70px;
}

.ch-grid .ch-info-back ul {
    margin:0;
    padding:0;
}
.ch-grid .ch-info-back ul li {
    font-family: UniversL;
    font-size: 14px;
    line-height: 15px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:20px;
    margin:0;
    color:#ffffff;
    height:12px;
}

.ch-grid .ch-info-back ul li .amount {
    color:inherit;
    font-family:inherit;
    font-size: inherit;
    margin:inherit;
}

.ch-grid .ch-info-back ul li:before {
    font-family: 'icomoon';
    content: "\f00c";
    padding-right: 2px;
}


.ch-item:hover .ch-info-front {
/*.ch-item .ch-info-front {*/

    /* dont flip */
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;

    cursor: pointer;
    /* fade out */
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}




/* screenwidth less than 1024px
--------------------------------------------------------------------- */
@media only screen and (max-width: 1140px) {

    ul.ch-grid {
        margin:0 auto;
    }

    .ch-grid li {
        margin-right:10px;
        margin-left: 0;
    }
    .ch-grid li:nth-child(1) {
        margin-left: 0;
    }
    .ch-grid li:nth-child(4) {
        margin-right: 0px;
    }
}
@media only screen and (max-width: 1000px) {

    ul.ch-grid {
        width:80%;
    }

    .ch-grid li:nth-child(1) {
        margin-left: 20px;
    }
    .ch-grid li:nth-child(4) {
        margin-right: 20px;
    }
    .ch-grid li {
        margin:20px;
    }
}